{# VARIBLES #}

{% extends "admin/ver-administracion.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Virtuagora - Ajustes plataforma{% endblock %}
{# ----------------------------------------------------------- #}
{% block linkheads_cont %}
<link rel="stylesheet" href="{{ baseUrl() }}/assets/css/sceditor/sceditor-main.css">
{% endblock %}
{# ----------------------------------------------------------- #}
{% set intro_titulo = 'Ajustes plataforma' %}
{# ----------------------------------------------------------- #}
{% block administracion %}
<div class="ajustes-plataforma">
    <form action="{{ urlFor('runAdmAjuste') }}" method="POST">
        {% for ajuste in ajustes %}
        <div class="row">
            {% if (ajuste.value_type == 'int') or (ajuste.value_type == 'str') %}
            <div class="large-8 columns">
                <h5>{{ ajuste.key|capitalize }}</h5>
                {{ ajuste.descripcion }}
            </div>
            <div class="large-4 columns">
                {% if ajuste.value_type == 'int' %}
                <input type="number" name="{{ ajuste.key }}" >
                {% elseif ajuste.value_type == 'str' %}
                <input type="text" name="{{ ajuste.key }}" >
                {% endif%}
            </div>
            {% elseif ajuste.value_type == 'txt' %}
            <div class="large-12 columns">
                <div class="titulo">
                    <h5>{{ ajuste.key|capitalize }}</h5>
                </div>
                <div class="descripcion">
                    {{ ajuste.descripcion }}
                </div>
                <textarea name="{{ ajuste.key }}" rows=10></textarea>
            </div>
            {% endif %}
        </div>
        <hr>
        {% endfor %}
        {% if ajustes|length > 0 %}
        <div class="row text-center">
            <button class="button success radius"><i class="fa fa-check fa-fw"></i> Aceptar los cambios</button>
        </div>
        {% else %}
        <div class="row text-center">
            <div class="large-12 columns">
                <div class="titulo">
                    <h5>No hay ajustes para configurar</h5>
                </div>
                <div class="descripcion">
                    Consulte con un experto...
                </div>
            </div>
        </div>
        {% endif %}
    </form>
</div>

{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts_cont %}
<script src="{{ baseUrl() }}/assets/js/autosize/autosize.min.js"></script>
<script src="{{ baseUrl() }}/assets/js/jquery/jquery.sceditor.bbcode.min.js"></script>
<script>
    $(function() {
        $("textarea").sceditor({
            plugins: "bbcode",
            emoticonsEnabled: false,
            width: 'auto',
            style: "{{ baseUrl() }}/assets/css/sceditor/sceditor-panel.css",
            autoExpand: true,
            resizeHeight: true,
        });
    });
    $(document).ready(function(){
        {% for ajuste in ajustes %}
        {% if ajuste.value_type == 'int' %}
        $('input[name="{{ ajuste.key }}"]').val({{ ajuste.value }});
        {% elseif ajuste.value_type == 'str' %}
        $('input[name="{{ ajuste.key }}"]').val({{ ajuste.value }});
        {% elseif ajuste.value_type == 'txt' %}
        $('textarea[name={{ ajuste.key }}]').sceditor('instance').val('{{ ajuste.val|bbCode }}', false);
        {% endif %}
        {% endfor %}
    });

</script>
{% endblock %}
{# ----------------------------------------------------------- #}
