{# VARIBLES #}

{% extends "admin/ver-administracion.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Virtuagora - Gestionar poderes {% endblock %}
{# ----------------------------------------------------------- #}
{% block linkheads_cont %}
{% endblock %}
{# ----------------------------------------------------------- #}
{% set intro_titulo = 'Gestionar poderes' %}
{# ----------------------------------------------------------- #}
{% block administracion %}
<div class="poderes-patrulla">
    <div class="row text-center">
        <div class="large-12 columns">
            <div class="titulo">
                <h5><b>{{ patrulla.nombre }}</b></h5>
            </div>
            <div class="descripcion">
                {{ patrulla.descripcion }}
            </div>
        </div>
    </div>
    <hr>
    {% for poder in poderes %}
    <div class="row">
        <div class="large-8 columns">
            <div class="titulo">
                <h5>{{ poder.nombre }}</h5>
            </div>
            <div class="descripcion">
                {{ poder.descripcion }}
            </div>
        </div>
        <div class="large-4 columns text-center">
            <div class="switch small round">
                {% if poder.id in patrulla.poderes %}
                    <input id="checkbox-{{ poder.id }}" type="checkbox" class="podchk" checked>
                {% else %}
                    <input id="checkbox-{{ poder.id }}" type="checkbox" class="podchk">
                {% endif %}
                <label for="checkbox-{{ poder.id }}"></label>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
    {% if poderes|length > 0 %}
    <div class="row text-center">
        <form id="formPoderes" action="{{ urlFor('runModifPodPatrull',{'idPat': patrulla.id}) }}" method="POST">
            <input name="poderes" type="text" style="display:none;">
            <button class="button success radius"><i class="fa fa-check fa-fw"></i> Aceptar los cambios</button>
        </form>
    </div>
    {% else %}
    <div class="row text-center">
        <div class="large-12 columns">
            <div class="titulo">
                <h5>No hay poderes para configurar</h5>
            </div>
            <div class="descripcion">
                Consulte con un experto...
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts_cont %}
<script>
    $('#formPoderes').submit(function(e) {
        var poderes_patrulla = new Array();
        $('.podchk:checked').each(function () {
            var id_poder = $(this).attr('id').replace('checkbox-', '');
            poderes_patrulla.push(id_poder);
        });
        json_poderes = '[' + poderes_patrulla.join() + ']';
        $('input[name="poderes"]').val(json_poderes);
    });
</script>
{% endblock %}
{# ----------------------------------------------------------- #}
