{# VARIBLES #}

{% extends "admin/ver-administracion.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Virtuagora - Gestionar poderes {% endblock %}
{# ----------------------------------------------------------- #}
{% block linkheads_cont %}
{% endblock %}
{# ----------------------------------------------------------- #}
{% set intro_titulo = 'Gestionar poderes' %}
{# ----------------------------------------------------------- #}
{% block administracion %}
<div class="poderes-patrulla">
    <div class="row text-center">
        <div class="large-12 columns">
            <div class="titulo">
                <h5><b>Patrulla re loca</b></h5>
            </div>
            <div class="descripcion">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum obcaecati sed, hic soluta sunt. Praesentium quam, alias error vero, labore, doloremque quod facere, impedit molestiae libero sed expedita culpa in.
            </div>
        </div>
    </div>
    <hr>
    {% for poder in poderes %}
    <div class="row">
        <div class="large-8 columns">
            <h5>{{ poder.nombre }}</h5>
            {{ poder.descripcion }}
        </div>
        <div class="large-4 columns text-center">
            <div class="switch small round">
                <input id="checkbox-{{ poder.id }}" type="checkbox">
                <label for="checkbox-{{ poder.id }}"></label>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
    {% if poderes|length > 0 %}
    <div class="row text-center">
        <form id="formPoderes" action="{{ urlFor('runModifPodPatrull',{'idPat': patrulla.id}) }}" method="POST">
            <input name="poderes" type="text" style="display:none;">
            <button class="button success radius"><i class="fa fa-check fa-fw"></i> Aceptar los cambios</button>
        </form>
    </div>
    {% else %}
    <div class="row text-center">
        <div class="large-12 columns">
            <div class="titulo">
                <h5>No hay poderes para configurar</h5>
            </div>
            <div class="descripcion">
                Consulte con un experto...
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts_cont %}
<script>
    var poderes_patrulla = new Array();
    $(document).ready(function(){
        {% for poder in poderes %}
        $("#checkbox-{{ poder.id }}").attr('checked', {{ patrulla.poderes[poder.id] ? 'true' : 'false' }});
        {% endfor %}
    });

    $('#formPoderes').submit(function(e) {
        poderes_patrulla = [];
        $('input[type="checkbox"]').each(function () {
            if($(this).attr('checked')){
                var id_poder = $(this).attr('id').replace('checkbox-', '');
                //                alert(id_poder);
                poderes_patrulla.push(id_poder);
            }
        });
        json_poderes = '[' + poderes_patrulla.join() + ']';
        $('input[name="poderes"]').val(json_poderes);
        //        alert($('input[name="poderes"]').val());
    });

    $('input[type="checkbox').click(function() {
        if ($(this).attr('checked')) {
            $(this).attr('checked', false);
        } else {
            $(this).attr('checked', true);
        }
    });
</script>
{% endblock %}
{# ----------------------------------------------------------- #}
