{# VARIABLES PARA FORMATO DE MASTER-CONTENIDO.TWIG #}
{% set url_atras = '#' %}
{% set i_class_titulo = 'fa fa-gears fa-fw' %}
{% set titulo = 'Administrar organismos' %}

{# VARIABLES DE LA VISTA #}

{# ---------------------- #}

{% extends "admin/master-admin.twig" %}

{% block titulo %}
Virtuagora - Administrar organismos
{% endblock %}

{% block contenido %}
<section id="tabla-organismos">
    <div class="row">
        <div class="large-12 columns text-center">
            <div class="panel">
                <h6><b>Administre los organismos publicos ya existentes o <a href="{{ baseUrl }}/admin/organismos/crear"    >agregue uno nuevo</a></b></h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-11 large-centered columns">
            <table align="center">
                <thead>
                    <tr>
                        <th class="text-center"><i class="fa fa-gears fa-lg"></i></th>
                        <th id="nombre" width="500" class="clearfix">Nombre</th>
                        <th id="cupos-o" class="text-center">Cupos<br>ocupados</th>
                        <th id="cupos-t" class="text-center">Cupos<br>totales</th>
                        <th width="60" class="text-center"><i class="fa fa-gear fa-lg"></i></th>
                    </tr>
                </thead><tbody>
                <tr>
                    <td colspan="5" class="opciones">
                        <a href="{{ baseUrl }}/admin/organismos/crear" class="button boton-agregar expand warning radius"><i class="fa fa-plus fa-fw fa-lg"></i>&nbsp;&nbsp;&nbsp;Agregar nuevo</a>
                    </td>
                </tr>
                {% for org in organismos %}
                <tr>
                    <td class="opciones">
                        <a href='#'><i class="fa fa-search fa-border"></i></a>
                        <a href='#'><i class="fa fa-pencil fa-border"></i></a>
                    </td>
                    <td id="d-nombre">
                        <a href='{{ baseUrl }}/admin/funcionarios/{{ org.id }}'>
                            <img src="http://lorempixel.com/g/128/128/">&nbsp;&nbsp;{{ org.nombre|capitalize }}
                        </a>
                    </td>
                    <td class="n-cupo">{{ org.funcionarios_count }}</td>
                    <td class="n-cupo">{{ org.cupo }}</td>
                    <td><a href="{{ baseUrl }}/admin/organismos/{{ org.id }}/funcionarios" class="button boton-mini radius">Editar cupos</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
