{# VARIBLES #}

{% extends "admin/ver-administracion.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Virtuagora - Administrar organismos{% endblock %}
{# ----------------------------------------------------------- #}
{% set intro_titulo = 'Administrar organismos' %}
{# ----------------------------------------------------------- #}
{% block administracion %}
<div class="listar-organismos large-12 columns">
    <div class="row">
        <div class="panel">
            <h6>Administre los organismos publicos ya existentes o <b><a href="{{urlFor('shwCrearOrganis')}}">agregue uno nuevo</a></b></h6>
        </div>
    </div>
    <div class="row">
        <table class="tabla-org">
            <thead>
                <tr>
                    <th class="text-center"><i class="fa fa-pencil-square-o fa-lg"></i></th>
                    <th class="titulo">Nombre</th>
                    <th class="cupos-o text-center">Cupos ocupados</th>
                    <th class="cupos-t text-center">Cupos totales</th>
                    <th class="text-center"><i class="fa fa-gear fa-lg"></i></th>
                </tr>
            </thead>
            <tbody>
                {% for org in organismos %}
                <tr id="organismo-{{ org.id }}" class="organismo">
                    <td class="text-center">
                        <a href="javascript:return(0)" class="eliminar button tiny radius small warning"><i class="fa fa-trash-o fa-fw fa-lg"></i></a>
                        <a href="{{ urlFor('shwModifOrganis',{'idOrg': org.id}) }}" class="modificar button tiny radius secondary"><i class="fa fa-pencil fa-fw fa-lg"></i></a>
                    </td>
                    <td><i class="fa fa-university fa-fw"></i> {{ org.nombre|capitalize }}</td>
                    <td class="text-center">{{ org.funcionarios_count }}</td>
                    <td class="text-center">{{ org.cupo }}</td>
                    <td class="text-center"><a href="{{ urlFor('shwAdmFuncion', {'idOrg': org.id }) }}" class="modificar button tiny radius"><i class="fa fa-wrench fa-fw fa-lg"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if nav %}
    <div class="row">
        <div class="large-6 large-centered columns">
            <div class="left">
                {% if nav.first %}
                <a href="{{ nav.first }}"><i class="fa fa-angle-double-left fa-fw fa-lg"></i></a>
                {% endif %}
                {% if nav.prev %}
                <a href="{{ nav.prev }}"><i class="fa fa-angle-left fa-fw fa-lg"></i></a>
                {% endif %}
            </div>
            <div class="right">
                {% if nav.next %}
                <a href="{{ nav.next }}"><i class="fa fa-angle-right fa-fw fa-lg"></i></a>
                {% endif %}
                {% if nav.last %}
                <a href="{{ nav.last }}"><i class="fa fa-angle-double-right fa-fw fa-lg"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}
{% set mensaje_eliminar = 'Usted esta a punto de eliminar un organismo. ¿Está seguro de esta acción?' %}
{% include 'admin/eliminarRecurso.twig'%}
{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts_cont %}
<script>
    $(document).ready(function(){

    });

     $('a.eliminar').on('click', function() {
        var id_organismo = $(this).closest('.organismo').attr('id').replace('organismo-','');
        var url_eliminar = '{{ urlFor("runElimiOrganis") }}';
        url_eliminar = url_eliminar.replace(':idOrg',id_organismo);
        $('#formEliminarRecurso').removeAttr('action');
        $('#formEliminarRecurso').attr('action',url_eliminar);
        $('#eliminarRecurso').foundation('reveal','open');
    });

    $('.bt-cancelar-eliminar').on('click', function() {
        $('.eliminar-modal').foundation('reveal', 'close');
    });

</script>
{% endblock %}
{# ----------------------------------------------------------- #}
