{# VARIBLES #}
{% set footer = true %}
{% set barraNav = true %}
{% set notificaciones = true %}
{% set html_class = '' %}
{% set body_class = 'color-config' %}

{% extends "master.twig" %}

{# ----------------------------------------------------------- #}
{% block linkhead %}
{% block linkheads_cont %}{% endblock linkheads_cont %}
{% endblock %}
{# ----------------------------------------------------------- #}
{% block body %}
<div class="admin-panel">
    <div class="row">
        <div class=" panel-izq medium-3 columns">
            <ul class="opciones">
                <li><a href="{{ urlFor('shwAdmOrganis') }}">Listar los organismos</a></li>
                <li><a href="{{ urlFor('shwCrearOrganis') }}">Crear nuevo organismo</a></li>
                <li><a href="{{ urlFor('shwAdmVrfUsuario') }}">Verificar usuario</a></li>
                <li><a href="{{ urlFor('shwAdmAjuste') }}">Ajustes plataforma</a></li>
                <li><a href="{{ urlFor('shwAdmPatrull') }}">Agregar moderadores</a></li>
                <li><a href="{{ urlFor('shwAdmPatrull') }}">Administrar patrullas</a></li>
                <li><a href="{{ urlFor('shwIndex') }}" class="bt-volver button oposite radius expand"><i class="fa fa-undo fa-fw"></i> Volver al inicio</a></li>
            </ul>
        </div>
        <div class="panel-der medium-9 columns">
            <div class="row">
                <div class="intro-titulo">
                    <h1><b><i class="fa fa-caret-right fa-fw"></i>{{ intro_titulo|upper }}</b>&nbsp;<small><i class="fa fa-question-circle fa-fw"></i></small></h1>
                </div>
            </div>
            {% block administracion %}
            {% endblock administracion %}
        </div>
    </div>
</div>
{% endblock body %}
{# ----------------------------------------------------------- #}
{% block scripts %}
<script src="{{ baseUrl() }}/assets/js/autosize/autosize.min.js"></script>
{% block scripts_cont %}{% endblock scripts_cont %}
<script>
    $(document).ready(function(){
        autosize($('textarea[name="descripcion"]'));
    });

    $("textarea[name='descripcion']").keypress(function(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
        }
    });

</script>
{% endblock scripts %}
{# ----------------------------------------------------------- #}
