{# VARIBLES #}

{% extends "admin/ver-administracion.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Virtuagora - Verificar usuarios{% endblock %}
{# ----------------------------------------------------------- #}
{% block linkheads_cont %}{% endblock %}
{# ----------------------------------------------------------- #}
{% set intro_titulo = 'Verificar usuarios' %}
{# ----------------------------------------------------------- #}
{% block administracion %}
<div class="verificar-usuarios">
    <div class="listar-usuarios row">
        <div class="large-12 columns">
            <div class="titulo">
                <h4>Usuarios sin verificar</h4>
            </div>
            <hr>
            <div class="explicacion panel">
                En la siguiente tabla tiene la lista de usuarios que no están verificados. Para agregar un usuario a la lista de "Usuarios a verificar" haga clic en el boton con el icono <i class="fa fa-plus fa-fw"></i>
            </div>
            <!--
<dl class="sub-nav sort" role="menu" title="Filter Menu List">
<dt><i class="fa fa-list-ol fa-fw fa-lg"></i> Ordenar: </dt>
<dd class="sortNombre" role="menuitem" ><a href="javascript:sortNombre();"><i class="fa fa-sort-alpha-asc fa-fw"></i> Nombre</a></dd>
<dd class="sortApellido" role="menuitem"><a href="javascript:sortApellido();"><i class="fa fa-sort-alpha-asc fa-fw"></i> Apellido</a></dd>
<dd class="sortPuntos" role="menuitem"><a href="javascript:sortPuntos();"><i class="fa fa-sort-numeric-desc fa-fw"></i> Puntos</a></dd>
</dl>
-->
            <dl class="sub-nav ver" role="menu" title="Filter Menu List">
                <dt><i class="fa fa-filter fa-fw fa-lg"></i> Filtrar: </dt>
                <dd class="verTodo active" role="menuitem" ><a href="javascript:verTodo();"><i class="fa fa-eye fa-fw"></i> Todo</a></dd>
                <dd class="verAdvertidos" role="menuitem"><a href="javascript:verAdvertidos();"><i class="fa fa-warning fa-fw"></i> Advertidos</a></dd>
                <dd class="verSuspendidos" role="menuitem"><a href="javascript:verSuspendidos();"><i class="fa fa-times fa-fw"></i> Suspendidos</a></dd>
            </dl>
            <table class="tabla-usuarios">
                <thead>
                    <tr style="//display:none;">
                        <th class="text-center" style="display:none;">ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th class="text-center"><i class="fa fa-trophy fa-fw"></i></th>
                        <th class="text-center"><i class="fa fa-warning fa-fw"></i></th>
                        <th class="text-center"><i class="fa fa-times fa-fw"></i></th>
                        <th class="text-center"><i class="fa fa-cog fa-fw"></i></th>
                    </tr>
                </thead>
                <tbody class="usuarios">
                    <tr>
                        <td colspan=6 class="text-center"><i class="fa fa-spinner fa-pulse"></i> Buscando usuarios</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="large-12 columns control-tabla">
            <div class="panel clearfix large-6 large-centered text-center columns">
                <div class="left">
                    <i class="first fa fa-angle-double-left fa-fw fa-lg"></i>&nbsp;&nbsp;
                    <i class="prev fa fa-angle-left fa-fw fa-lg"></i>
                </div>
                <div class="right">
                    <i class="next fa fa-angle-right fa-fw fa-lg"></i>&nbsp;&nbsp;
                    <i class="last fa fa-angle-double-right fa-fw fa-lg"></i>
                </div>
                <i class="ejecutando fa fa-spinner fa-fw fa-lg fa-pulse"></i>
            </div>
        </div>
    </div>
    <div class="listar-usuarios row">
        <div class="large-12 columns">
            <div class="titulo">
                <h4>Usuarios a verificar</h4>
            </div>
            <hr>
            <div class="explicacion panel">
                En la siguiente tabla se irán agregando los usuarios que usted eligió verificar de la lista anterior. Puede quitar usuarios de esta lista haciendo clic en el boton <i class="fa fa-minus fa-fw"></i>
            </div>
            <table class="tabla-usuarios-verificar">
                <thead>
                    <tr style="//display:none;">
                        <th class="text-center" style="display:none;">ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th class="text-center"><i class="fa fa-trophy fa-fw"></i></th>
                        <th class="text-center"><i class="fa fa-warning fa-fw"></i></th>
                        <th class="text-center"><i class="fa fa-times fa-fw"></i></th>
                        <th class="text-center"><i class="fa fa-cog fa-fw"></i></th>
                    </tr>
                </thead>
                <tbody class="agregando">

                </tbody>
            </table>
        </div>
    </div>
    <div class="row text-center">
        <form id="verificar" action="{{ urlFor('runAdmVrfUsuario') }}" method="POST">
            <input type="text" name="entrantes" style="display:none;">
            <button class="button radius success"><i class="fa fa-check fa-fw"></i> Verificar ciudadanos</button>
        </form>
    </div>
</div>

{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts_cont %}
<script src="{{ baseUrl() }}/assets/js/underscore/underscore-min.js"></script>
<script>
    var usuarios_verificar = new Array();
    var links_tabla = new Array();

    $(document).ready(function(){
        verTodo();
    });

    var agregarUsuario = function(id, nombre, apellido, puntos, advertencia, suspendido) {
        td_id = $('<td>').addClass('text-center').hide().html( id );
        td_nombre = $('<td>').html( nombre );
        td_apellido = $('<td>').html( apellido );
        td_puntos = $('<td>').addClass('text-center').html( puntos );
        td_advertencia = $('<td>').addClass('text-center').html( 'null' );
        td_suspendido = $('<td>').addClass('text-center').html( 'null' );
        boton_agregar = $('<a>').attr('src','#').addClass('agregar button tiny radius').html('<i class="fa fa-plus fa-fw fa-lg"></i>')
        td_agregar = $('<td>').addClass('text-center').html( boton_agregar );
        if( advertencia ){
            td_advertencia = td_advertencia.html( 'Si' );
        } else {
            td_advertencia = td_advertencia.html( 'No' );
        }
        if( suspendido ){
            td_suspendido = td_suspendido.html( 'Si' );
        } else {
            td_suspendido = td_suspendido.html( 'No' );
        }

        tr_usuario = $('<tr>')
            .append(td_id)
            .append(td_nombre)
            .append(td_apellido)
            .append(td_puntos)
            .append(td_advertencia)
            .append(td_suspendido)
            .append(td_agregar)
            .attr('id','usuario-'+id)
            .addClass('usuario');
        if( advertencia ){
            tr_usuario.addClass('advertido');
        }
        if( suspendido ){
            tr_usuario.addClass('suspendido');
        }
        $(".tabla-usuarios").find('tbody').append(tr_usuario);
    }

    var agregarErrorFila = function(mensaje) {
        td_mensaje = $('<td>').addClass('text-center').attr('colspan',6).html( mensaje );
        tr_ultima = $('<tr>').append(td_mensaje);
        $(".tabla-usuarios").find('tbody').append( tr_ultima );
    }

    var enviarSolicitud = function(url_query) {
        var request = $.ajax({
            url: url_query,
            cache: false,
            dataType: "json"
        }).done(function(resultados, textStatus, request) {
            links_tabla = parse_link_header(request.getResponseHeader('link'));
            $(".tabla-usuarios").find('tbody').empty();
            for (var i=0; i<resultados.length; i++) {
                agregarUsuario(
                    resultados[i].id,
                    resultados[i].nombre,
                    resultados[i].apellido,
                    resultados[i].puntos,
                    resultados[i].advertencia,
                    resultados[i].suspendido);
            }
            toggleControlTabla('first');
            toggleControlTabla('prev');
            toggleControlTabla('next');
            toggleControlTabla('last');
            $('.ejecutando').hide();
        }).fail(function(jqXHR, textStatus) {
            $(".tabla-usuarios").find('tbody').empty();
            agregarErrorFila( '<i class="fa fa-unlink fa-fw"></i> Error en la busqueda de los usuarios!');
            alert("Request failed: " + textStatus);
            return false;
        });
    }

    $(document).on('click', '.agregar', function() {
        var id = $(this).closest('.usuario').attr('id').replace('usuario-', '');
        if( $(".agregando tr#usuario-"+ id).length == 0 ){
            $(this).removeClass('agregar').addClass('quitar');
            $(this).addClass('alert');
            $(this).children().removeClass('fa-plus').addClass('fa-minus');
            $('.agregando').append($(this).closest('.usuario'));
        }
    });

    $(document).on('click', '.quitar', function() {
        $(this).closest('.usuario').remove();
    });

    $('#verificar').submit(function() {
        $('.agregando').children('tr').each(function () {
            var id_num = $(this).attr('id').replace('usuario-', '');
            usuarios_verificar.push(id_num);
        });
        json_usuarios = '[' + usuarios_verificar.join() + ']';
        $('input[name="entrantes"]').val(json_usuarios);
        alert($('input[name="entrantes"]').val());
    });

    //    var sortNombre = function() {
    //        $('.sub-nav.sort dd.active').removeClass('active');
    //        $('.sortNombre').addClass('active');
    //
    //    }
    //    var sortApellido = function() {
    //        $('.sub-nav.sort dd.active').removeClass('active');
    //        $('.sortApellido').addClass('active');
    //
    //    }
    //    var sortPuntos = function() {
    //        $('.sub-nav.sort dd.active').removeClass('active');
    //        $('.sortPuntos').addClass('active');
    //    }
    var verTodo = function() {
        $('.sub-nav.ver dd.active').removeClass('active');
        $('.verTodo').addClass('active');
        var query = { where_null:'verified_at' };
        enviarSolicitud('{{ baseUrl() }}/usuario?' + jQuery.param(query));
    }
    var verAdvertidos = function() {
        $('.sub-nav.ver dd.active').removeClass('active');
        $('.verAdvertidos').addClass('active');
        var query = { where_null:'verified_at' , where_not_null:'advertencia' };
        enviarSolicitud('{{ baseUrl() }}/usuario?' + jQuery.param(query));
    }
    var verSuspendidos = function() {
        $('.sub-nav.ver dd.active').removeClass('active');
        $('.verSuspendidos').addClass('active');
        var query = {where_null:'verified_at', where_not_null:'suspendido' };
        enviarSolicitud('{{ baseUrl() }}/usuario?' + jQuery.param(query));
    }

    $( ".first" ).click(function() {
        if(links_tabla['first']){
            $('.ejecutando').show();
            enviarSolicitud(links_tabla['first']);
        }
    });
    $( ".prev" ).click(function() {
        if(links_tabla['prev']){
            $('.ejecutando').show();
            enviarSolicitud(links_tabla['prev']);
        }
    });
    $( ".next" ).click(function() {
        if(links_tabla['next']){
            $('.ejecutando').show();
            enviarSolicitud(links_tabla['next']);
        }
    });
    $( ".last" ).click(function() {
        if(links_tabla['last']){
            $('.ejecutando').show();
            enviarSolicitud(links_tabla['last']);
        }
    });

    var toggleControlTabla = function(nombre){
        if(links_tabla[nombre]){
            $('.' + nombre).removeClass('transparente');
        } else {
            $('.' + nombre).addClass('transparente');
        }
    }


</script>
{% endblock %}
{# ----------------------------------------------------------- #}
