<div class="nav-portal">
	<div class="row collapse text-center">
	<ul>
		<li class="link"><a href="{{ urlFor('shwIndex') }}"><i class="fa fa-home fa-fw fa-lg"></i> Inicio</a></li>
		<li class="link"><a href="{{ urlFor('shwPortal') }}"><i class="fa fa-book fa-fw fa-lg"></i> Contenidos</a></li>
		<li class="link"><a href="{{ urlFor('shwListaPartido') }}"><i class="fa fa-users fa-fw fa-lg"></i> Grupos políticos</a></li>
		<li class="link"><a href="{{ urlFor('shwListaOrganis') }}"><i class="fa fa-university fa-fw fa-lg"></i> Organismos</a></li>
		<li class="link"><a href="javascript:void(0)"><i class="fa fa-support fa-fw fa-lg"></i> Soporte</a></li>
	</ul>
	</div>
</div>

<!--
		<a href="{{ urlFor('shwIndex') }}">
			<div class="bt contenidos small-6 medium-2 columns text-center">
				<div><i class="fa fa-home fa-2x"></i></div>
				<div class="texto">INICIO</div>
			</div>
		</a><a href="{{ urlFor('shwPortal') }}">
			<div class="bt contenidos small-6 medium-2 columns text-center">
				<div><i class="fa fa-book fa-2x"></i></div>
				<div class="texto">CONTENIDOS</div>
			</div>
		</a>
		<a href="{{ urlFor('shwListaOrganis') }}">
			<div class="bt small-6 medium-2 columns text-center">
				<div><i class="fa fa-university fa-2x"></i></div>
				<div class="texto">ORGANISMOS</div>
			</div>
		</a>
		<a href="{{ urlFor('shwListaPartido') }}">
			<div class="bt small-6 medium-2 large-2 columns text-center">
				<div><i class="fa fa-users fa-2x"></i></div>
				<div class="texto">GRUPOS POLÍTICOS</div>
			</div>
		</a>
		<div class="large-2 columns show-for-large-up text-center"></div>
-->

