{# VARIBLES #}
{% set footer = false %}
{% set barraNav = false %}
{% set notificaciones = false %}

{% extends "master.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Introducción a Virtuágora{% endblock %}
{# ----------------------------------------------------------- #}
{% block linkhead %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block body %}
<div id="introduction">
	<div id="header">
		<section class="row">
			<article class="small-12 columns text-center">
				<img src="{{baseUrl()}}/assets/img/bigwhitelogo.png">
				<div class="text-center">
					<a href="{{urlFor('shwPortal')}}" class="button radius large oposite" style="margin:15px 0px"><i class="fa fa-home fa-fw fa-lg"></i>Entrar!</a>
					<br>
					<a href="{{urlFor('shwLogin')}}" class="button radius small oposite"><i class="fa fa-sign-in fa-fw fa-lg"></i>Iniciar sesión</a>
					<a href="{{urlFor('shwCrearUsuario')}}" class="button radius small oposite"><i class="fa fa-user-plus fa-fw fa-lg"></i>Registrarse</a>
				</div>
				<p class="text-center">
					<em class="sunheader">- Encontranos -</em><br>
					<a href="https://www.facebook.com/virtuagora"><i class="fa fa-facebook-square"></i></a>
					<a href="https://twitter.com/virtuagora"><i class="fa fa-twitter-square"></i></a>
				</p>
			</article>
		</section>
	</div>
	<div class="pre-registro">
		<div class="row">
			<div class="descripcion medium-12 large-6 small-text-center large-text-left columns">
				<h1><b>¡Bienvenidos a Virtuágora!</b></h1>
				<p><b>Una nueva propuesta para la participación ciudadana</b></p>
				<p>¡Registresé ya mismo!</p>
			</div>
			<div class="small-12 medium-8 large-6 medium-centered large-uncentered columns">
				<form class="form-pre-registro" method="POST">
					<div class="row">
						<input type="text" name="nombre" placeholder="Su nombre..">
						<input type="text" name="apellido" placeholder="Su apellido..">
						<input type="text" name="email" placeholder="Su email..">
					</div>
					<div class="row text-center">
						<button class="button radius success expand"><i class="fa fa-check fa-lg fa-fw"></i>&nbsp;Registrarse</button>
						<p>Usted sera redirigido luego a una pagina aparte para seguir completando con su informacion de registro</p>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="feature que-es">
		<div class="row">
			<div class="small-12 medium-3 columns text-center">
				<img src="{{ baseUrl() }}/assets/img/protest.png">
			</div>
			<div class="small-12 medium-9 columns small-only-text-center">
				<h2><b>¿Qué es Virtuágora?</b></h2>
				<p>Virtuágora es una plataforma web pensada para cualquier ámbito democrático, en la que los ciudadanos puedan expresar su opinión y participar frente a los anuncios y actividades de funcionarios públicos.</p>
				<p>Además, se funda dentro de las buenas prácticas del concepto de Gobierno Abierto y aporta el potencial de las TICs para mejorar la comunicación entre representantes y representados. Buscando así, generar un círculo virtuoso de intercambio de opiniones para construir una mejor sociedad.
				</p>
			</div>
		</div>
	</div>
	<div class="spotlight">
		<div class="titulo row text-center">
			<h1>¿Cómo se participa?</h1>
		</div>
		<div class="row">
			<div class="herramienta-wrapper small-12 medium-6 medium-centered columns text-center">
				<div class="herramienta-icono propuesta">
					<span class="fa-stack fa-4x">
						<i class="fa fa-circle-thin fa-stack-2x"></i>
						<i class="fa fa-lightbulb-o fa-stack-1x"></i>
					</span>
				</div>
				<div class="herramienta-titulo">
					<h3>Exponer propuestas</h3>
				</div>
				<div class="herramienta-descripcion">
					Funcionarios públicos podrán exponer sus propuestas para que sean sometidas a votación. Así se podrá aproximar su aceptación en la sociedad en caso de implementarse.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="herramienta-wrapper small-12 medium-6 columns text-center">
				<div class="herramienta-icono problematica">
					<span class="fa-stack fa-4x">
						<i class="fa fa-circle-thin fa-stack-2x"></i>
						<i class="fa fa-bullhorn fa-stack-1x"></i>
					</span>
				</div>
				<div class="herramienta-titulo">
					<h3>Reportar problemática</h3>
				</div>
				<div class="herramienta-descripcion">
					Un ciudadano podrá reportar problemáticas que encuentre en su entorno, luego los demás podrán sumarse a la causa expresando si dicho problema también los afecta.
				</div>
			</div>
			<div class="herramienta-wrapper small-12 medium-6 columns text-center">
				<div class="herramienta-icono documento">
					<span class="fa-stack fa-4x">
						<i class="fa fa-circle-thin fa-stack-2x"></i>
						<i class="fa fa-file-text-o fa-stack-1x"></i>
					</span>
				</div>
				<div class="herramienta-titulo">
					<h3>Aportar en documentos colaborativos</h3>
				</div>
				<div class="herramienta-descripcion">
					Un funcionario podrá publicar documentos para que sean revisados públicamente. Ideal para conocer la opinión de la gente sobre cada sección de un anteproyecto.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="herramienta-wrapper small-12 medium-6 columns text-center">
				<div class="herramienta-icono evento">
					<span class="fa-stack fa-4x">
						<i class="fa fa-circle-thin fa-stack-2x"></i>
						<i class="fa fa-calendar fa-stack-1x"></i>
					</span>
				</div>
				<div class="herramienta-titulo">
					<h3>Programar eventos</h3>
				</div>
				<div class="herramienta-descripcion">
					Organismos públicos y partidos políticos podrán dar a conocer los eventos que organicen, mientras que los ciudadanos podrán confirmar su asistencia a estos.
				</div>
			</div>
			<div class="herramienta-wrapper small-12 medium-6 columns text-center">
				<div class="herramienta-icono novedad">
					<span class="fa-stack fa-4x">
						<i class="fa fa-circle-thin fa-stack-2x"></i>
						<i class="fa fa-newspaper-o fa-stack-1x"></i>
					</span>
				</div>
				<div class="herramienta-titulo">
					<h3>Comunicar anuncios</h3>
				</div>
				<div class="herramienta-descripcion">
					Organismos públicos y partidos políticos realizar cualquier tipo de anuncio que consideren relevante para la sociedad.
				</div>
			</div>
		</div>
	</div>
	<div class="feature">
		<div class="row">
			<div class="small-12 medium-3 columns text-center">
				<img src="{{ baseUrl() }}/assets/img/directorio.png">
			</div>
			<div class="small-12 medium-9 columns small-only-text-center">
				<h2><b>Directorio de organismos publicos</b></h2>
				<p>Los organismos públicos conviven, juntas, dentro de la plataforma, con sus respectivos funcionarios, y aportan a los ciudadanos un directorio actualizado e interactivo de los organismos participantes del sistema democratico.</p>
			</div>
		</div>
	</div>
	<div class="feature">
		<div class="row">
			<div class="small-12 show-for-small-only columns text-center">
				<img src="{{ baseUrl() }}/assets/img/participantes.png">
			</div>
			<div class="small-12 medium-9 columns small-only-text-center text-right">
				<h2><b>Participación de funcionarios y de grupos políticos</b></h2>
				<p>Los organismos públicos conviven, juntas, dentro de la plataforma, listando a los respectivos funcionarios en función, aportando a los ciudadanos un directorio actualizado de los organismos activos y sus conformantes.</p>
				<p>Al mismo tiempo, tanto los funcionarios como los mismos ciudadanos pueden crear sus propios grupos politicos y agruparse con un motivo o fin en común.</p>
			</div>
			<div class="small-12 medium-3 hide-for-small-only columns text-center">
				<img src="{{ baseUrl() }}/assets/img/participantes.png">
			</div>
		</div>
	</div>
	<div class="feature">
		<div class="row">
			<div class="small-12 medium-3 columns text-center">
				<img src="{{ baseUrl() }}/assets/img/shield.png">
			</div>
			<div class="small-12 medium-9 columns small-only-text-center">
				<h2><b>Moderación de contenido y administración</b></h2>
				<p>Virtuágora permite moderar la actividad de los usuarios, como tambien los contenidos, ya sea, modificando o eliminando contenido, sancionando usuarios, etc. Además, permite una fácil administración de la plataforma y su configuración</p>
			</div>
		</div>
	</div>
	<div class="feature">
		<div class="row">
			<div class="small-12 show-for-small-only columns text-center">
				<img src="{{ baseUrl() }}/assets/img/api.png">
			</div>
			<div class="small-12 medium-9 columns small-only-text-center text-right">
				<h2><b>API abierta y disponible para desarrolladores</b></h2>
				<p>Nuestra plataforma cuenta con una API abierta para proveer de servicios a otras aplicaciones y/o sistemas, interactuando en colaboración con ellas. </p>
			</div>
			<div class="small-12 medium-3 hide-for-small-only columns text-center">
				<img src="{{ baseUrl() }}/assets/img/api.png">
			</div>
		</div>
	</div>
	<div class="feature">
		<div class="row">
			<div class="small-12 medium-3 columns text-center">
				<img src="{{ baseUrl() }}/assets/img/libre.png">
			</div>
			<div class="small-12 medium-9 columns small-only-text-center">
				<h2><b>Libre, abierto y gratuito</b></h2>
				<p>Virtuágora se fundó bajo las bases y principios que promueve el Gobierno Abierto, que basa su idea de gobierno "de fuente libre", que brinde la posibilidad a los ciudadanos de involucrarse directamente en el proceso legislativo</p>
			</div>
		</div>
	</div>
	<div class="features">
		<div class="final">
			<div class="row text-center">
				<div class="small-12 columns">
				<img src="{{baseUrl()}}/assets/img/bigwhitelogo.png" style="padding:10px;">
					<a href="{{ urlFor('shwCrearUsuario') }}" class="boton-final button oposite radius large"><i class="fa fa-heart-o fa-fw"></i> Comenzar a participar!</a>
					<div class="git-final">
					<a href="https://github.com/augusthur/virtuagora" class="git-final"><i class="fa fa-github-alt fa-fw fa-2x"></i><br>Tambien estamos en GitHub!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts %}
<script>
	$('.form-pre-registro').submit(function(){
		window.location.href = "{{urlFor('shwCrearUsuario')}}#"
			+ $('input[name="nombre"]').val() + '&'
			+ $('input[name="apellido"]').val() + '&'
			+ $('input[name="email"]').val();
		return false;
	});
</script>
{% endblock %}
{# ----------------------------------------------------------- #}
