{# VARIBLES #}
{% set totalRespuestas = evento.presentes_count + evento.ausentes_count %}
{% set presente_y_publico = 0 %}
{% set ausente_y_publico = 0 %}
{% for participante in participantes %}
{% if participante.pivot.presente == 1 %}
{% set presente_y_publico = presente_y_publico + 1 %}
{% else %}
{% set ausente_y_publico = ausente_y_publico + 1 %}
{% endif %}
{% endfor %}

{% extends "contenido/ver-contenido-corto.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Virtuagora - Evento #{{ evento.id }} {% endblock %}
{# ----------------------------------------------------------- #}
{% set color_cont = 'color-evento' %}
{% block linkheads_cont %}
{% endblock linkheads_cont %}
{# ----------------------------------------------------------- #}
{% set titulo_cont = evento.titulo %}
{% set fecha_cont = '' ~ evento.created_at|date("d/m/Y") %}
{% set ver_comentarios = true %}
{% set url_comentar = urlFor('runComentar', {'tipoRaiz': 'evento' , 'idRaiz': evento.id}) %}
{% set url_modificar = urlFor('shwModifEvento', {'idEve': evento.id}) %}
{% set url_eliminar = urlFor('runElimiEvento', {'idEve': evento.id}) %}
{# ----------------------------------------------------------- #}
{% set share_link = evento.link %}
{% set twitter_txt = 'Me intereso este ' ~ evento.contenible_type|lower  %}
{% set email_subject = 'Mire intereso compartir este ' ~ evento.contenible_type|lower ~ ' con vos' %}
{% set email_body = 'Me parecio interesante compartir con vos este ' ~ evento.contenible_type|lower ~ '&crarr;' ~ evento.link %}
{# ----------------------------------------------------------- #}
{% block botones_cont %}{% endblock %}
{% block cuerpo_cont %}
<div class="evento-texto">
    <div class="row text-center">
        <div class="small-12 columns">
            <div class="small-12 medium-6 columns">
                <div class="fecha-datos">
                    <span class="fecha"><i class="fa fa-calendar-o fa-fw"></i> {{ evento.fecha|date("d/m/Y") }}</span>
                </div>
            </div>
            <div class="small-12 medium-6 columns">
                <div class="fecha-datos">
                    <span class="fecha"><i class="fa fa-clock-o fa-fw"></i> {{evento.fecha|date("H:i")}}</span>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <h4><i class="fa fa-map-marker fa-fw fa-lg"></i> {{ evento.lugar }}</h4>
                </div>
            </div>
            <hr>
            <div class="text-center">
                {{ evento.cuerpo|bbCode }}
            </div>
            <hr>
            <div class="small-12 columns">
                <section class="datos-cont corto text-center" margin:bottom>
                    Invita <a href="{{ urlFor('shwUsuario',{'idUsr': autor_id}) }}"><img class="img-perfil small-border radius size-32" src="{{ autor_avatar_32 }}"> {{ autor_nombre_apellido }}</a> <span class="usuario-pts"><i class="fa fa-trophy fa-fw"></i>&nbsp;{{ autor_puntos }}</span>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{# ----------------------------------------------------------- #}
{% set autor_id = evento.autor.id %}
{% set autor_puntos = evento.autor.puntos %}
{% set autor_nombre_apellido = evento.autor.nombre ~ ' ' ~ evento.autor.apellido %}
{% set autor_avatar_32 = avatarUrl(evento.autor.img_tipo, evento.autor.img_hash, 32) %}
{# ----------------------------------------------------------- #}
{% block opciones_cont %}
<div class="panel-cont-corto" style="letter-spacing:-0.5px">
    <div class="row">
        <div class="small-12 columns text-center">
            {% if user and participacion %}
            <h3 >Usted <i class="fa fa-fw fa-lg {{ participacion.presente == 1 ? 'fa-check' : 'fa-times'}}"></i><b>{{ participacion.presente == 1 ? 'asistirá' : 'no asistirá'}}</b> al evento</h3>
            <h5 class="status" style="margin: 0">Ha dado este dato como <b>{{ participacion.publico == 1 ? 'publico' : 'no publico'}}</b>. </h5>
            {% else %}
            <h3 style="margin: 0">¿Cual será su participación?</h3>
            {% endif %}
        </div>
    </div>
    <hr>
    {% if user and participacion %}
    <div class="row text-center">
        <form id="formCambiarParticipacion" action="{{ urlFor('runPartiEvento',{'idEve': evento.id}) }}" method="POST">
            <div class="medium-4 small-12 columns">
                <div class="switch small round" style="margin: 10px 0px 0px;">
                    <input id="checkbox-cambiar-participacion" type="checkbox" data-value="{{ participacion.presente == 0 ? '1' : '0'}}">
                    <label for="checkbox-cambiar-participacion"></label>
                    <p class="checkbox-cambiar-participacion-texto" style="margin:0;">¿Desea cambiar a <b>{{ participacion.presente == 0 ? 'asistiré' : 'no asistiré'}}?</b></p>
                    <p class="checkbox-cambiar-participacion-texto-si" style="margin:0;display:none;">Usted <i class="fa fa-fw {{ participacion.presente == 0 ? 'fa-check' : 'fa-times'}}"></i> <b>{{ participacion.presente == 0 ? 'asistirá' : 'no asistirá'}}</b></p>
                </div>
            </div>
            <div class="medium-4 small-12 columns">
                <div class="switch small round" style="margin: 10px 0px 0px;">
                    <input id="checkbox-cambiar-privacidad" type="checkbox" data-value="{{ participacion.publico == 0 ? '1' : '0'}}">
                    <label for="checkbox-cambiar-privacidad"></label>
                    <p class="checkbox-cambiar-privacidad-texto" style="margin:0;">¿Desea cambiar a <b>{{ participacion.publico == 0 ? 'público' : 'no público'}}</b>?</p>
                    <p class="checkbox-cambiar-privacidad-texto-si" style="margin:0;display:none;" >El dato será <b>{{ participacion.publico == 0 ? 'público' : 'no público'}}</b></p>
                </div>
            </div>
            <div class="medium-4 small-12 columns">
                <input name="presente" type="text" style="display:none;" value="{{ participacion.presente == 1 ? '1' : '0'}}">
                <input name="publico" type="text" style="display:none;" value="{{ participacion.publico == 1 ? '1' : '0'}}">
                <button class="bt-aplicar-cambios button small negative radius disabled" style="margin: 10px 0px 0px;">
                    <i class="fa fa-send fa-fw fa-lg"></i><br>Aplicar cambios
                </button>
            </div>
        </form>
    </div>
    {% else %}
    <div class="row collapse row-opciones">
        <div class="medium-6 small-12 columns text-center">
            <div class="bt-ire bt button negative radius expand" style="width: 98%;"><i class="fa fa-check fa-fw fa-3x"></i></div>
        </div>
        <div class="medium-6 small-12 columns text-center">
            <div class="bt-noire bt button negative radius expand" style="width: 98%;"><i class="fa fa-times fa-fw fa-3x"></i></div>
        </div>
    </div>
    <div class="row text-center row-confirmando" style="display:none">
        {% if user %}
        <form id="formIre" action="{{ urlFor('runPartiEvento',{'idEve': evento.id}) }}" method="POST">
            <div class="medium-4 small-12 columns">
                <div id="confirmando-icono"></div>
                <div id="confirmando-descripcion"></div>
            </div>
            <div class="medium-4 small-12 columns">
                <div class="switch small round" style="margin: 10px 0px 0px;">
                    <input id="checkbox" name="publico" type="checkbox">
                    <label for="checkbox"></label>
                    <p class="checkbox-texto" style="margin:0;"><b>NO</b> hacer este dato público</p>
                </div>
            </div>
            <div class="medium-4 small-12 columns">
                <div style="margin-bottom: 5px;">
                    Si esto es correcto, confirme aquí:
                </div>
                <input name="presente" type="text" style="display:none;">
                <button class="button small negative radius">
                    <i class="fa fa-send fa-fw"></i> Enviar
                </button>
                <div class="bt-cancelar button small negative radius">
                    <i class=" fa fa-undo fa-fw"></i> Cancelar
                </div>
            </div>
        </form>
        {% else %}
        <h5>Para participar, por favor <a href="{{ urlFor('shwCrearUsuario') }}"><i class="fa fa-fw fa-sign-in"></i> Inicie sesion</a> o <a href="{{ urlFor('shwLogin') }}"><i class="fa fa-fw fa-user-plus"></i> Registrese</a></h5>
        {% endif%}
    </div>
    {% endif %}
</div>
<div class="panel-cont-corto" style="letter-spacing:-0.5px">
    <div class="row">
        <div class="small-12 columns text-center">
            {% if (evento.presentes_count + evento.ausentes_count) > 0 %}
            <h4 style="margin: 0"><i class="fa fa-fw fa-check"></i> {{ totalRespuestas }} usuario{{ totalRespuestas > 1 ? 's' }} respondi{{ totalRespuestas > 1 ? 'eron' : 'ó' }} y {{ evento.presentes_count }} irán al evento</h4>
            {% else %}
            <h4 style="margin: 0"><i class="fa fa-fw fa-chain-broken"></i> Nadie ha confirmado su participación</h4>
            {% endif %}
        </div>
    </div>
    {% if presente_y_publico == 1 %}
    <hr>
    <div class="row collapse">
        <div class="small-12 columns text-center">
            <div class="row "style="margin-bottom:10px">Algunos participantes que votaron al evento</div>
            <div class="row" >
                {% for participante in participantes %}
                {% if participante.pivot.presente == 1 %}
                <a href="{{ urlFor('shwUsuario', {'idUsr': participante.id}) }}"><img class="img-perfil small-border square {% if participante.moderador %}moderador{% else %}{% if participante.es_jefe %}jefe{% else %}{% if participante.es_funcionario %}funcionario{% else %}{% if participante.verified_at %}verificado{% endif %}{% endif %}{% endif %}{% endif %} size-64" src="{{ avatarUrl(participante.img_tipo, participante.img_hash, 64) }}" style="padding:2px"></a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if participantes|length > 0 %}
    <hr>
    <div class="row">
        <div class="small-12 columns text-center">
            <a href="#" data-reveal-id="listaAsisten"><i class="fa fa-list fa-fw"></i> Ver lista de quienes asisten</a>
            <a href="#" data-reveal-id="listaNoAsisten"><i class="fa fa-list fa-fw"></i> Ver lista de quienes no asisten</a>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals_cont %}
<div id="listaAsisten" class="lista-participantes-modal reveal-modal small" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
    <div class="row text-center">
        <div class="small-12 columns">
            <h4>Participantes que ASISTEN ({{ participantes|length }})</h4>
        </div>
        <hr>
        <div class="small-12 columns">
            <i>({{ evento.presentes_count - presente_y_publico }} participantes han ocultado su confirmación)</i>
            <table class="listado-participantes">
                <thead>
                    <tr style="display:none">
                        <th>Avatar</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% if participantes|length > 0 %}
                    {% for participante in participantes %}
                    {% if participante.pivot.presente == 1 %}
                    <tr>
                        <td class="text-center"><a href="{{ urlFor('shwUsuario', {'idUsr': participante.id}) }}"><img class="img-perfil small-border square {% if participante.moderador %}moderador{% else %}{% if participante.es_jefe %}jefe{% else %}{% if participante.es_funcionario %}funcionario{% else %}{% if participante.verified_at %}verificado{% endif %}{% endif %}{% endif %}{% endif %} size-32" src="{{ avatarUrl(participante.img_tipo, participante.img_hash, 32) }}" style="padding:2px"></a></td>
                        <td class="text-center">{{ participante.nombre }} {{ participante.apellido }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <tr>
                        <td class="text-center" colspan="2"><i>- Fin de lista -</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="listaNoAsisten" class="lista-participantes-modal reveal-modal small" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
    <div class="row text-center">
        <div class="small-12 columns">
            <h4>Participantes que NO ASÍSTEN ({{ participantes|length }})</h4>
        </div>
        <hr>
        <div class="small-12 columns">
            <i>({{ evento.ausentes_count - ausente_y_publico }} participantes han ocultado su confirmación)</i>
            <table class="listado-participantes">
                <thead>
                    <tr style="display:none">
                        <th>Avatar</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% if participantes|length > 0 %}
                    {% for participante in participantes %}
                    {% if participante.pivot.presente != 1 %}
                    <tr>
                        <td class="text-center"><a href="{{ urlFor('shwUsuario', {'idUsr': participante.id}) }}"><img class="img-perfil small-border square {% if participante.moderador %}moderador{% else %}{% if participante.es_jefe %}jefe{% else %}{% if participante.es_funcionario %}funcionario{% else %}{% if participante.verified_at %}verificado{% endif %}{% endif %}{% endif %}{% endif %} size-32" src="{{ avatarUrl(participante.img_tipo, participante.img_hash, 32) }}" style="padding:2px"></a></td>
                        <td class="text-center">{{ participante.nombre }} {{ participante.apellido }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <tr>
                        <td class="text-center" colspan="2"><i>- Fin de lista -</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts_cont %}
<script src="{{ baseUrl() }}/assets/js/jquery-ui/jquery-ui.min.js"></script>
<script src="{{ baseUrl() }}/assets/js/jquery-ui/datepicker-es.js"></script>
<script src="{{ baseUrl() }}/assets/js/timepicker/jquery.timepicker.min.js"></script>
<script>
    $(document).ready(function(){
        $('.dia').html(
            $.datepicker.parseDate( "dd", "{{ evento.fecha|date('Y-m-d') }}", {
                monthNames: $.datepicker.regional[ "es" ].monthNames
            })
        );
        $('.mes').html(
            $.datepicker.parseDate( "MM", "{{ evento.fecha|date('Y-m-d') }}", {
                monthNames: $.datepicker.regional[ "es" ].monthNames
            })
        );
        $('.año').html(
            $.datepicker.parseDate( "yy", "{{ evento.fecha|date('Y-m-d') }}", {
                monthNames: $.datepicker.regional[ "es" ].monthNames
            })
        );
        var tiempo = new Date( '{{ evento.fecha }}' );
        //        $.datepicker.parseDate( "DD, MM d, yy", date)
        //        $( "#datepicker" ).datepicker( "setDate", tiempo );
        //        $('.muestra-fecha h2').html($( "#datepicker" ).val());
        //        $('#timepicker').timepicker('setTime', tiempo);
    });

    $('.bt').click(function(){
        var mensaje = null;
        var presente = null;
        if( $(this).hasClass('bt-ire') ){
            mensaje = 'Usted irá al evento';
            presente = 1;
        } else if( $(this).hasClass('bt-noire') ){
            mensaje = 'Usted NO irá al evento';
            presente = -1;
        }
        $('#confirmando-icono').empty().html( $(this).html() );
        $('#confirmando-descripcion').empty().html(mensaje);
        $('input[name="presente"]').val(presente);
        $('.row-confirmando').show();
        $('.row-opciones').hide();
    });

    $('.bt-cancelar').click(function(){
        $('.row-confirmando').hide();
        $('.row-opciones').show();
    });

    var completarCheckbox = function() {
        if ($('#checkbox').is(':checked')) {
            $(".checkbox-texto").html('Hacer este dato publico');
            $("#checkbox").attr('checked', true);
        } else {
            $(".checkbox-texto").html('<b>NO</b> hacer este dato publico');
            $("#checkbox").removeAttr("checked");
            $("#checkbox").attr('checked', false);
        }
    }

    var habilitarBoton = function() {
        if( !$('#checkbox-cambiar-participacion').is(':checked') && !$('#checkbox-cambiar-privacidad').is(':checked')){
            $('.bt-aplicar-cambios').addClass('disabled')
        } else {
            $('.bt-aplicar-cambios').removeClass('disabled')
        }
    }

    var cambiarParticipacion = function() {
        if ($('#checkbox-cambiar-participacion').is(':checked')) {
            $(".checkbox-cambiar-participacion-texto").hide();
            $(".checkbox-cambiar-participacion-texto-si").show();
            $("#checkbox-cambiar-participacion").attr('checked', true);
        } else {
            $(".checkbox-cambiar-participacion-texto").show();
            $(".checkbox-cambiar-participacion-texto-si").hide();
            $("#checkbox-cambiar-participacion").removeAttr("checked");
            $("#checkbox-cambiar-participacion").attr('checked', false);
        }
        habilitarBoton();
    }
    var cambiarPrivacidad = function() {
        if ($('#checkbox-cambiar-privacidad').is(':checked')) {
            $(".checkbox-cambiar-privacidad-texto").hide();
            $(".checkbox-cambiar-privacidad-texto-si").show();
            $("#checkbox-cambiar-privacidad").attr('checked', true);
        } else {
            $(".checkbox-cambiar-privacidad-texto").show();
            $(".checkbox-cambiar-privacidad-texto-si").hide();
            $("#checkbox-cambiar-privacidad").removeAttr("checked");
            $("#checkbox-cambiar-privacidad").attr('checked', false);
        }
        habilitarBoton();
    }

    $('#formCambiarParticipacion').submit( function(e){
        if( !$('#checkbox-cambiar-participacion').is(':checked') && !$('#checkbox-cambiar-privacidad').is(':checked')){
            e.preventDefault();
        } else {
            if($('#checkbox-cambiar-participacion').is(':checked')){
                $('input[name="presente"]').val($('#checkbox-cambiar-participacion').data('value'))
            }if($('#checkbox-cambiar-privacidad').is(':checked')){
                $('input[name="publico"]').val($('#checkbox-cambiar-privacidad').data('value'))
            }
        }
    });

    $('#checkbox').click(completarCheckbox);
    $('#checkbox-cambiar-participacion').click(cambiarParticipacion);
    $('#checkbox-cambiar-privacidad').click(cambiarPrivacidad);


</script>
{% endblock %}
{# ----------------------------------------------------------- #}
