<div class="barra-nav" >
    <div class="contenido row">
        <div class="izquierda">
            <ul class="nav">
                <li><a href="{{ urlFor('shwIndex') }}"><i class="bt fa fa-home fa-fw"></i></a></li>
                {% if user is not empty %}
                <li>{{ user.nombre }}</li>
                {% else %}
                <li>Bienvenido!</li>
                {% endif %}
            </ul>
        </div>
        <div class="derecha">
            <ul class="nav">
                {% if user is not empty %}
                <li>
                     <div class="notificaciones">
                        <i class="bt fa fa-inbox fa-fw fa-lg"></i>
                        <span class="contador-on" {{ user.notificaciones|length ?: 'hidden' }}>{{ user.notificaciones|length }}</span>
                    </div>
                </li>
                <li><i class="bt fa fa-bars fa-fw"></i></li>
                <li>
                    <form id="form-salir"  action="{{ urlFor('runLogout') }}" method="POST">
                        <a href='#' class="bt-logout"><i class="bt fa fa-sign-out fa-fw fa-lg"></i></a>
                    </form>
                </li>
                {% else %}
                <li><a href="{{ urlFor('shwLogin') }}">¿Tienes cuenta? Iniciar sesión <i class="fa fa-caret-down"></i></a></li>
                <li><a href="{{ urlFor('shwLogin') }}"><i class="bt fa fa-sign-in fa-fw"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
