<!DOCTYPE html>
<html {% if html_class is defined %}class='{{ html_class }}'{% endif %}>
    <head>
        <title>{% block titulo %}Virtuágora{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ baseUrl }}/assets/css/app.css">
        {% block linkhead %}{% endblock %}
        <script src="{{ baseUrl }}/assets/js/modernizr/modernizr.js"></script>
    </head>
    <body {% if body_class is defined %}class='{{ body_class }}'{% endif %}>
        <div class="wrapper">
            <!-- bar-nav -->
            {% if barraNav == true %}
            {% include "barra-nav.twig" %}
            {% endif %}

            <!--alerta-->
            {% if flash['success'] is defined %}
            <div data-alert class="alert-box success text-center">
                <div class="row">
                    <i class="fa fa-check fa-fw fa-lg"></i>&nbsp;{{ flash.success|capitalize }}
                    <a href="#" class="close"><i class="fa fa-times fa-fw fa-lg"></i></a>
                </div>
            </div>
            {% endif %}


            {% if flash['errors'] is defined %}
            {% for error in flash['errors'] %}
            <div data-alert class="alert-box alert text-center">
                <div class="row">
                    <i class="fa fa-minus-circle fa-fw fa-lg"></i>&nbsp;{{ error|capitalize }}
                    <a href="#" class="close"><i class="fa fa-times fa-fw fa-lg"></i></a>
                </div>
            </div>
            {% endfor %}
            {% endif %}

            {% if flash['warning'] is defined %}
            <div data-alert class="alert-box warning text-center">
                <div class="row">
                    <i class="fa fa-warning fa-fw fa-lg"></i>&nbsp;{{ flash.warning|capitalize }}
                    <a href="#" class="close"><i class="fa fa-times fa-fw fa-lg"></i></a>
                </div>
            </div>
            {% endif %}
            <!-- body -->
            {% block body %}{% endblock %}
            {% if footer == true %}
            <div class="push"></div>
            {% endif %}
        </div>
        <!-- footer -->
        {% if footer == true %}
        {% include "footer.twig" %}
        {% endif %}
        <!-- modals -->
        {% block modals %}{% endblock %}
        <div class="main-menu-ovrl main-menu-ovrl-hugeinc js-main-menu-ovrl">
            <i class="fa fa-times main-menu-ovrl-close js-main-menu-close"></i>
            <nav>
                <ul>
                    <li><a href="#"><img src="{{ avatarUrl(user.img_tipo, user.img_hash, 160) }}"></a></li>
                    <li></li>
                    <li><a href="{{ urlFor('shwIndex') }}">Ir al Inicio</a></li>
                    <li><a href="{{ urlFor('shwIndex') }}">Ver Perfil</a></li>
                    <li><a href="{{ urlFor('shwModifUsuario') }}">Opciones</a></li>
                </ul>
            </nav>
        </div>
        <!-- Javascript/Jquery -->
        <script src="{{ baseUrl() }}/assets/js/jquery/jquery.min.js"></script>
        <script src="{{ baseUrl() }}/assets/js/foundation/foundation.min.js"></script>
        <script src="{{ baseUrl() }}/assets/js/foundation/foundation.alert.js"></script>
        {% block scripts %}{% endblock %}
        <script src="{{ baseUrl() }}/assets/js/app.js"></script>
        <script>
            var menuOvrl = $('.js-main-menu-ovrl');
            var menuHamburger = $('.js-main-menu-open');
            $('.js-main-menu-open').click(function(e) {
                e.preventDefault();
                menuHamburger.hide();
                menuOvrl.addClass('open');
            });
            $('.js-main-menu-close').click(function(e) {
                e.preventDefault();
                menuOvrl.removeClass('open');
                menuHamburger.show();
            });
        </script>
    </body>
</html>
