<!DOCTYPE html>
<html>
    <head>
        <title>{% block titulo %}Virtuagora{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ baseUrl }}/assets/css/app.css">
		{% block linkhead %}{% endblock %}
        <script src="{{ baseUrl }}/assets/js/modernizr/modernizr.js"></script>
    </head>
    <body>
        <!-- Incluir barra-nav -->
        {% include "comun/barra-nav.twig" %}
        {% if flash['errors'] is defined %}
        <div id="modalErrors" class="reveal-modal small text-center" data-reveal>
            <h2><i class="invalido fa fa-question-circle fa-2x"></i><br>Error</h2>
            {% for error in flash['errors'] %}
            <div data-alert class="alert-box warning">
                <b>{{ error }}</b>
                <!-- <a href="#" class="close">&times;</a>-->
            </div>
            {% endfor %}
            <a class="close-reveal-modal">&#215;</a>
        </div>
        {% endif %}
        <!-- Incluir body -->
        {% block body %}{% endblock %}
        <!-- Incluir modal -->
        {% block modal %}{% endblock %}
        <!-- Incluir footer -->
        {# include "comun/footer.twig" #}
        <!-- Incluir javascripts -->
        <script src="{{ baseUrl }}/assets/js/jquery/jquery.min.js"></script>
        <script src="{{ baseUrl }}/assets/js/foundation/foundation.min.js"></script>
        <script src="{{ baseUrl }}/assets/js/foundation/foundation.topbar.js"></script>
        <script src="{{ baseUrl }}/assets/js/foundation/foundation.reveal.js"></script>
        <script src="{{ baseUrl }}/assets/js/foundation/foundation.alert.js"></script>
        {% block scripts %}{% endblock %}
        <script src="{{ baseUrl }}/assets/js/app.js"></script>
    </body>
</html>
