{% extends "master.twig" %}

{% block body %}
<section id="wide-panel">
	<div class="row">
		<div class="large-10 large-centered columns">
			<div class="extremos">
				<!-- CONTENIDO! -->
				<!-- Titulo -->
				<div class="row">
					<div class="large-12 large-centered columns">
						<h2>
							<a href="{{ url_atras }}"><i class="fa fa-arrow-circle-left fa-border"></i></a>
							<i class="{{ i_class_titulo }}"></i>&nbsp;<b>{{ titulo }}</b>
						</h2>
					</div>
					<hr>
				</div>
				<!-- contenido -->
				{% if flash['success'] is defined %}
				{% for error in flash['success'] %}
				<div data-alert class="alert-box success text-center" style="padding: 5px 15px; margin-bottom: 10px;">
					<i class="fa fa-check-square-o fa-fw fa-lg"></i>&nbsp;<b>{{ error }}</b>
					<a href="#" class="close">&times;</a>
				</div>
				{% endfor %}
				<hr style="margin-top:0;"/>
				{% endif %}
				{% if flash['warnings'] is defined %}
				{% for error in flash['warnings'] %}
				<div data-alert class="alert-box swarning text-center" style="padding: 5px 15px; margin-bottom: 10px;">
					<i class="fa fa-warning fa-fw fa-lg"></i>&nbsp;<b>{{ error }}</b>
					<a href="#" class="close">&times;</a>
				</div>
				{% endfor %}
				<hr style="margin-top:0;"/>
				{% endif %}

				{% block contenido %}{% endblock %}
				<!-- Comentarios -->
				{% if comments == true %}
				<hr id="top-comentarios">

				<div id="row-comentar" class="row">
					<div class="large-6 large-centered columns">
						<div id="bt-comentar" class="button expand">
							<i class="fa fa-comments fa-fw fa-lg"></i>&nbsp;Dejar un comentario
						</div>
					</div>
				</div>

				<div id="row-comentar-box" class="row" hidden>
					<div class="large-8 large-centered columns">
						<div id="bt-comentar">
							<form action={{commentUrl}} method="POST">
								<a href="#"><img src="{{ avatarUrl(user.img_tipo, user.img_hash, 32) }}">&nbsp;{{ user.nombre }} {{ user.apellido }}</a> <small>quiere comentar lo siguiente...</small>
								<br/>
								<textarea name="comentario" rows=4 style="margin-top: 5px; margin-bottom: 5px;"></textarea>
								<button class="button success small right" style="padding: 8px 15px; margin-bottom: 0;"><i class="fa fa-check fa-fw"></i>&nbsp;Enviar</button>
							</form>
						</div>
					</div>
				</div>

				<div class="comentario-wrap">
					<div class="row">
						<div id="comentarios" class="large-10 large-centered columns">

						</div>
					</div>
				</div>
				{% endif %}
			</div>
			<div class="extremos final"></div>
		</div>
	</div>
</section>
{% endblock %}
