{# VARIABLES PARA FORMATO DE MASTER-BODY.TWIG #}
{% set url_atras = '#' %}
{% set i_class_icon = 'fa fa-bullhorn fa-fw' %}
{% set titulo = 'Ver propuesta' %}
{% set comments = true %}
{% set commentUrl = baseUrl() ~ "/comentar/propuesta/" ~ propuesta.id %}
{% set rtaUrl = baseUrl() ~ "/comentar/comentario/" %}

{# VARIABLES DE LA VISTA #}
{% set total_votos = propuesta.votos_favor + propuesta.votos_neutro + propuesta.votos_contra %}
{% if total_votos > 0 %}
{% set porc_favor = ( propuesta.votos_favor / ( total_votos ))*100 %}
{% set porc_neutro = ( propuesta.votos_neutro / ( total_votos ))*100 %}
{% set porc_contra = ( propuesta.votos_contra / ( total_votos ))*100 %}
{% endif %}

{# ---------------------- #}

{% extends "master-body.twig" %}

{% block titulo %}
Virtuagora - Propuesta #{{ propuesta.id }} por {{ propuesta.autor.nombre }} {{ propuesta.autor.apellido }}
{% endblock %}

{% block contenido %}
<div class="row">
	<div class="large-12 large-centered columns">
		<div class="large-4 columns">
			<div class="avatar32">
				<span class="overlay"></span>
				<img class="imgborder" alt="" src="http://lorempixel.com/32/32/sports/">
			</div>
		</div>
		<div class="large-4 columns">
			<div class="avatar32">
				<span class="overlay"></span>
				<img class="imgborder" alt="" src="http://lorempixel.com/32/32/sports/">
			</div>
		</div>
		<div class="large-4 columns">
			<div class="avatar32">
				<span class="overlay">Gols</span>
				<img class="imgborder" alt="" src="http://lorempixel.com/32/32/sports/">
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="avatar64">
		<span class="overlay"></span>
		<img class="imgborder" alt="" src="http://lorempixel.com/64/64/sports/">
	</div>
</div>

{% endblock %}

{% block modal %}
<div id="modal-sancion" class="reveal-modal remove-whitespace medium"  data-reveal>
	<div class="row">
		<div class="large-12 columns">
			<div class="large-4 columns">
				<div class="text-center">
					<img class="imgborder" alt="" src="http://lorempixel.com/160/160/sports/">
				</div>
				<hr>
				<div class="text-center">
					<h6><b>Tipo de sancion</b><h6>
						</div>
						<dl id="sanciones" class="tabs vertical" role=tablist data-tab>
							<dd class="active"><a href="#panel1">Sanción por puntos</a></dd>
							<dd><a href="#panel2">Sanción por advertencia</a></dd>
							<dd><a href="#panel3">Sanción por suspensión</a></dd>
						</dl>
						</div>
					<div class="large-8 columns">
						<h2><b>Sancionar usuario</b><br><small>Guillermo Croppi<small> - 52&nbsp;<i class="fa fa-star fa-fw" style="color:#e2b12d;"></i>&nbsp;puntos</small></small></h2>
						<hr>
						<div class="tabs-content vertical">
							<div class="content active" id="panel1">
								<form action="" method="POST" data-abide>
									<p>Elija la cantidad de puntos a quitarle al usuario.</p>
									<div class="range-slider radius" data-slider data-options="start: 1; end: 52; display_selector: #slider-out-pts;">
										<span class="range-slider-handle" role="slider"></span>
										<span class="range-slider-active-segment"></span>
										<input name="pts" type="hidden">
									</div>
									<label>Razon de la sanción <small>requerido</small>
										<textarea name="justificacion" placeholder="Relate brevemente la razón de la sanción..." required></textarea>
									</label>
									<small class="error">Se requiere que justifique la sanción</small>
									<div class="row">
										<button class="button radius small warning right" type="submit" style="margin-bottom:0px"><i class="fa fa-star-half-o fa-fw fa-lg"></i>&nbsp;Quitar <span id="slider-out-pts"></span> punto(s)</button>
									</div>
									<div class="row right"><h5><small>Sancionado por <b>Augusto Mathurin</b></small></h5></div>
								</form>
							</div>
							<div class="content" id="panel2">
								<form action="" method="POST" data-abide>
									<p>Elija el mensaje de advertencia y los dias que permanecerá activa.</p>
									<div class="range-slider radius" data-slider data-options="start: 1; end: 30; display_selector: #slider-out-dias-a;">
										<span class="range-slider-handle" role="slider"></span>
										<span class="range-slider-active-segment"></span>
										<input name="dias" type="hidden">
									</div>
									<label>Mensaje de advertencia <small>requerido</small>
										<textarea name="justificacion" placeholder="Escriba el porqué de advertencia..." required></textarea>
									</label>
									<small class="error">Se requiere que justifique la sanción</small>
									<div class="row">
										<button class="button radius small warning right" type="submit" style="margin-bottom:0px"><i class="fa fa-warning fa-fw fa-lg"></i>&nbsp;Advertir por <span id="slider-out-dias-a"></span> dia(s)</button>
									</div>
									<div class="row right"><h5><small>Sancionado por <b>Augusto Mathurin</b></small></h5></div>
								</form>
							</div>
							<div class="content" id="panel3">
								<form action="" method="POST" data-abide>
									<p>Elija como desea suspender al usurio, si por dia o indefinidamente</p>
									<div class="range-slider radius" data-slider data-options="start: 1; end: 30; display_selector: #slider-out-dias-s;">
										<span class="range-slider-handle" role="slider"></span>
										<span class="range-slider-active-segment"></span>
										<input name="dias" type="hidden">
									</div>
									<label>Razon de la suspención <small>requerido</small>
										<textarea name="justificacion" placeholder="Relate brevemente la razón de la suspención" required></textarea>
									</label>
									<small class="error">Se requiere que justifique la sanción</small>
									<div class="row text-center">
										<button class="button radius small alert" type="submit" style="margin-bottom:0px"><i class="fa fa-warning fa-fw fa-lg"></i>&nbsp;Suspender cuenta por <span id="slider-out-dias-s"></span> dia(s)</button>
									</div>
								</form>
								<hr>
								<form action="" method="POST" data-abide>
									<div class="row text-center">
										<button class="button radius alert" type="submit" style="margin-bottom:0px"><i class="fa fa-times fa-fw fa-lg"></i>&nbsp;Suspender cuenta indefninidamente</button>
									</div>
									<div class="row right"><h5><small>Sancionado por <b>Augusto Mathurin</b></small></h5></div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="close-reveal-modal">&#215;</a>
		</div>
		{% endblock %}


		{% block scripts %}
		<script src="{{ baseUrl }}/assets/js/foundation/foundation.abide.js"></script>
		<script src="{{ baseUrl }}/assets/js/foundation/foundation.slider.js"></script>
		<script>
//			$(function() {
//				// OPACITY OF BUTTON SET TO 0%
//				$(".overlay").css("opacity","0");
//
//				// ON MOUSE OVER
//				$(".overlay").hover(
//					function () {
//						// SET OPACITY TO 70%
//						$(this).stop().animate({
//							opacity: .75
//						}, "slow");
//					},
//					// ON MOUSE OUT
//					function () {
//						// SET OPACITY BACK TO 50%
//						$(this).stop().animate({
//							opacity: 0
//						}, "slow");
//					});
//			});
//
//			$('div[class^="avatar"]').on("click", function() {
//				console.log($(this));
//				$('#modal-sancion').foundation('reveal', 'open');
//			});
//
////			$( "form" ).submit(function( event ) {
////				console.log( $( this ).serializeArray() );
////				event.preventDefault();
////			});
//			 $('#sanciones').on('toggled', function (event, tab) {
//				$(document).foundation('slider', 'reflow');
//			 });

			{% if comments == true %}
			{% include "misc/comentarios.js.twig" %}
			{% endif %}
		</script>
		{% endblock %}
