{# VARIBLES #}
{% set cant_parrafos = version.parrafos|length %}

{% extends "contenido/ver-contenido.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Virtuagora - documento #{{ documento.id }} {% endblock %}
{# ----------------------------------------------------------- #}
{% set color_cont = 'color-documento' %}
{% block linkheads_cont %}
<link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/assets/css/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/assets/css/slick/slick-theme.css"/>
{% endblock linkheads_cont %}
{# ----------------------------------------------------------- #}
{% set titulo_cont = documento.titulo %}
{% set fecha_cont = '' ~ documento.created_at|date("d/m/Y") %}
{% set ver_comentarios = false %}
{% set url_modificar = urlFor('shwModifDocumen', {'idDoc': documento.id}) %}
{% set url_eliminar = urlFor('runElimiDocumen', {'idDoc': documento.id} ) %}
{# ----------------------------------------------------------- #}
{% set share_link = documento.link %}
{% set twitter_txt = 'Me intereso este ' ~ documento.contenible_type|lower  %}
{% set email_subject = 'Mire intereso compartir este ' ~ documento.contenible_type|lower ~ ' con vos' %}
{% set email_body = 'Me parecio interesante compartir con vos este ' ~ documento.contenible_type|lower ~ '&crarr;' ~ documento.link %}
{# ----------------------------------------------------------- #}
{% block botones_cont %}
<li><a href="{{ urlFor('shwNuVerDocumen', {'idDoc': documento.id}) }}" class="button oposite radius tiny"><i class="fa fa-plus fa-fw"></i>&nbsp;Nueva Version</a></li>
{% endblock %}
{% block versiones_docu %}
{% if version.version == documento.ultima_version and documento.ultima_version > 1 %}
<div class="destacados row">
    <div class="small-10 medium-11 large-6 small-centered medium-centered large-centered columns">
        <div class="text-center"><b>VERSIONES</b></div>
        <hr>
        <div class="selector-versiones">
            {% for i in documento.ultima_version..1 %}
            <div class="small-12 medium-4 large-4 columns">
                <a href="{{ urlFor('shwVerDocumen', {'idDoc': documento.id, 'idVer': i}) }}">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-file-o fa-stack-2x"></i>
                        <strong class="fa-stack-1x version-text">V{{i}}</strong>
                    </span>
                </a>
                {% if i == documento.ultima_version %}
                <div>
                    Actual
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% elseif version.version != documento.ultima_version %}
<div class="text-center"><i>Usted esta leyendo la version N° {{ version.version}}</i></div>
<div class="text-center" style="margin-bottom:5px;"><i>La version mas reciente es la N° {{ documento.ultima_version }}</i></div>
<div class="text-center"><a href="{{ urlFor('shwDocumen', {'idDoc': documento.id}) }}" class="button tiny radius oposite">Ir a la version actual</a></div>
{% endif %}
{% endblock %}
{% block cuerpo_cont %}
<section class="doc-descripcion">
    <div class="row">
        <div class="small-8 small-centered columns panel text-center">
            {{ documento.descripcion }}
        </div>
    </div>
</section>
<section class="doc-texto">
    <div class="text text-justify">
        {% for parrafo in version.parrafos %}
        <p id="p{{ parrafo.ubicacion }}" class="parrafo">
            {{ parrafo.cuerpo|bbCode }}
        </p>
        <div id="p{{ parrafo.ubicacion }}-box-comentarios" class="box-comentarios" style="display:none">
            <table class="listado-comentarios">
                <thead>
                    <th style="display:none">Icono</th>
                    <th style="display:none">Comentario</th>
                    <th style="display:none">Enviar</th>
                </thead>
                <tbody>
                    {% if version.version == documento.ultima_version %}
                    <tr>
                        <td><a href="{{ urlFor('shwUsuario',{'idUsu: user.id}) }}"><img class="img-perfil small-border square {% if user.moderador %}moderador{% else %}{% if user.es_jefe %}jefe{% else %}{% if user.es_funcionario %}funcionario{% else %}{% if user.verified_at %}verificado{% endif %}{% endif %}{% endif %}{% endif %}" src="{{ avatarUrl(user.img_tipo, user.img_hash, 32) }}"></a></td>
                        <form action="{{ urlFor('runComentar', {'tipoRaiz': 'ParrafoDocumento' , 'idRaiz': parrafo.id}) }}" method="POST">
                            <td><textarea name="cuerpo" rows=1 placeholder="Escriba su comentario con respecto al párrafo"></textarea></td>
                            <td><button class="button success expand radius tiny"><i class="fa fa-send fa-fw"></i> Enviar</button></td>
                        </form>
                    </tr>
                    {% endif %}
                    {% if parrafo.comentarios|length > 0 %}
                    {% for comentario in parrafo.comentarios %}
                    <tr>
                        <td>
                            <a href="{{ urlFor('shwUsuario',{'idUsu: comentario.autor.id}) }}"><img class="img-perfil small-border square {% if comentario.autor.moderador %}moderador{% else %}{% if comentario.autor.es_jefe %}jefe{% else %}{% if comentario.autor.es_funcionario %}funcionario{% else %}{% if comentario.autor.verified_at %}verificado{% endif %}{% endif %}{% endif %}{% endif %}" src="{{ avatarUrl(comentario.autor.img_tipo, comentario.autor.img_hash, 32) }}"></a>
                        </td>
                        <td colspan="2">{{ comentario.cuerpo|capitalize }} - <a href="{{ urlFor('shwUsuario',{'idUsu: comentario.autor.id}) }}">{{ comentario.autor.nombre }} {{ comentario.autor.apellido }}</a> <i class="fa fa-fw fa-trophy"></i> {{ comentario.autor.puntos }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr class="sin-comentarios">
                        <td class="text-center" colspan="3">
                            <h5><b>Este parrafo no tiene comentarios</b></h5>
                            {% if version.version == documento.ultima_version %}
                            <p>Sea el primero en dejar un comentario</p>
                            {% else %}
                            <p>Usted no puede comentar en un parrafo de una versión anterior</p>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            <div class="row text-center" style="margin: 5px 20px;">
                    <div class="bt-cerrar-comentarios button negative radius tiny expand"><i class="fa fa-times fa fw"></i> Cerrar</div>
            </div>
        </div>
        <div id="p{{ parrafo.ubicacion }}-tt-comentarios" class="bt-comentarios" style="display:none;">
            <div class="tt-comentarios">
                <i class="fa fa-comments-o fa-fw fa-lg"></i>&nbsp;{{ parrafo.comentarios|length }}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
{# ----------------------------------------------------------- #}
{% set autor_id = documento.autor.id %}
{% set autor_nombre_apellido = documento.autor.nombre ~ ' ' ~ documento.autor.apellido %}
{% set autor_avatar = avatarUrl(user.img_tipo, user.img_hash, 160) %}
{% set autor_avatar_32 = avatarUrl(documento.autor.img_tipo, documento.autor.img_hash, 32) %}
{% set autor_puntos = documento.autor.puntos %}
{% set autor_descripcion = 'Aca deberia haber una descripcion!' %}
{# ----------------------------------------------------------- #}
{% block opciones_cont %}
<section>

</section>

{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals_cont %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts_cont %}
<script src="{{ baseUrl() }}/assets/js/slick/slick.min.js"></script>
<script>
    var cantParrafos =  {{ cant_parrafos }};
    $(document).ready(function(){
        for(i = 0; i < cantParrafos; i++){
            $('#p'+i).data('powertiptarget', 'p'+i+'-tt-comentarios');
            $('#p'+i).powerTip({
                placement: 'w',
                mouseOnToPopup: true,
                offset: 15
            });
        }
        $('.selector-versiones').slick({
            dots: false,
            slidesToShow: 3,
            centerMode: true,
            responsive: [
                {
                    breakpoint: 640,
                    settings: {
                        centerMode: true,
                        slidesToShow: 1
                    }
                }
            ]
        });
        autosize($("textarea[name='cuerpo']"));
    });

    $('.doc-texto p').click(function () {
        $('.box-comentarios').hide();
        var parrafoId = $(this).attr('id');
        $('#'+parrafoId+'-box-comentarios').show();
    });

    $( ".bt-cerrar-comentarios" ).click(function() {
        $('.box-comentarios').hide();
    });

</script>
{% endblock %}
{# ----------------------------------------------------------- #}
