{# VARIBLES #}
{% set cant_parrafos = version.parrafos|length %}

{% extends "contenido/ver-contenido.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Virtuagora - documento #{{ documento.id }} {% endblock %}
{# ----------------------------------------------------------- #}
{% set color_cont = 'color-documento' %}
{% block linkheads_cont %}
<link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/assets/css/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/assets/css/slick/slick-theme.css"/>
{% endblock linkheads_cont %}
{# ----------------------------------------------------------- #}
{% set titulo_cont = documento.titulo %}
{% set fecha_cont = '' ~ documento.created_at|date("d/m/Y") %}
{% set ver_comentarios = false %}
{% set url_modificar = urlFor('shwModifDocumen', {'idDoc': documento.id}) %}
{% set url_eliminar = urlFor('runElimiDocumen', {'idDoc': documento.id} ) %}
{% block botones_cont %}
<li><a href="{{ urlFor('shwNuVerDocumen', {'idDoc': documento.id}) }}" class="button oposite radius"><i class="fa fa-plus fa-fw"></i>&nbsp;Nueva Version</a></li>
{% endblock %}
{% block cuerpo_cont %}
<section class="doc-descripcion">
    <div class="row">
        <div class="small-8 small-centered columns panel text-center">
            {{ documento.descripcion }}
        </div>
    </div>
</section>
<section class="doc-texto">
    <div class="text text-justify">
        {% for parrafo in version.parrafos %}
        <p id="p{{ parrafo.id }}" class="parrafo">
            {{ parrafo.cuerpo|bbCode }}
            <i id="p{{ parrafo.id }}-bt-comentar" class="bt-comentar fa fa-plus-circle fa-fw fa-lg" style="display: none;"></i>
            <i id="p{{ parrafo.id }}-bt-comentarios" class="bt-comentarios fa fa-comments-o fa-fw fa-lg" style="display: none;"></i>
        </p>
        {% if parrafo.comentarios|length > 0 %}
        <div id="p{{ parrafo.id }}-box-comentarios" class="box-comentarios" hidden>
            <div class="wrapper-comentarios">
                {% for comentario in parrafo.comentarios %}
                <div class="box-comentario small-11 small-centered columns">
                    <div class="info-user-row row">
                        <ul class="info">
                            <li><a href="#"><img src="{{ avatarUrl(comentario.autor.img_tipo, comentario.autor.img_hash, 32) }}"></a></li>
                            <li><i class="fa fa-comment fa-fw"></i> {{ comentario.autor.nombre }} {{ comentario.autor.apellido }} <i class="fa fa-caret-right fa-fw fa-lg"></i> {{ documento.autor.nombre ~ ' ' ~ documento.autor.apellido }} en Parrafo # {{ parrafo.id }} </li>
                            <li><i class="fa fa-calendar fa-fw"></i> {{ comentario.updated_at|date("d/m/Y") }} {{ comentario.updated_at|date("H:i") }}</li>
                        </ul>
                    </div>
                    <div class="comentario-row row">
                        {{ comentario.cuerpo }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="controles-row row text-center">
                <i class="bt-atras-menu fa fa-step-backward fa-fw fa-lg"></i>&nbsp;<i class="bt-cerrar-comentarios fa fa-times fa-fw fa-lg"></i>&nbsp;<i class="bt-adelante-menu fa fa-step-forward fa-fw fa-lg"></i>
            </div>
        </div>
        {% else %}
        <div id="p{{ parrafo.id }}-box-comentarios" class="box-comentarios" hidden>
            <div class="wrapper-comentarios">
                <div class="nadie-comento-icono row text-center">
                    <span class="fa-stack fa-lg ">
                        <i class="fa fa-comment-o fa-stack-2x"></i>
                        <i class="fa fa-question fa-stack-1x"></i>
                    </span>
                </div>
                <div class="nadie-comento row text-center">
                    <h4><b>Este parrafo no tiene comentarios</b></h4>
                    <p>Sea el primero en dejar un comentario</p>
                </div>
            </div>
            <div class="controles-row row text-center">
                <i class="bt-cerrar-comentarios fa fa-times fa-fw fa-lg"></i>
            </div>
        </div>
        {% endif %}
        {% if user is not empty %}
        <div id="p{{ parrafo.id }}-box-comentar" class="box-comentar" hidden>
            <div class="small-12 small-centered columns">
                <div class="info-user-row row">
                    <ul class="info">
                        <li><a href="#"><img src="{{ avatarUrl(user.img_tipo, user.img_hash, 32) }}"></a></li>
                        <li><i class="fa fa-comment fa-fw"></i> {{ user.nombre }} {{ user.apellido }} <i class="fa fa-caret-right fa-fw fa-lg"></i> {{ documento.autor.nombre ~ ' ' ~ documento.autor.apellido }} en Parrafo # {{ parrafo.id }} </li>
                        <li class="right"><i class="bt-cerrar-box fa fa-times fa-2x"></i></li>
                    </ul>
                </div>
                <form action="{{ urlFor('runComentar', {'tipoRaiz': 'ParrafoDocumento' , 'idRaiz': parrafo.id}) }}" method="POST">
                    <div class="redactor-row row">
                        <textarea name="cuerpo" placeholder="Escriba su comentario con respecto al párrafo"></textarea>
                    </div>
                    <div class="confirmar-row row text-center">
                        <button class="button success small radius"><i class="fa fa-send fa-fw"></i>&nbsp;Enviar</button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
        <div id="p{{ parrafo.id }}-tt-comentarios" class="bt-comentarios" hidden>
            <div class="tt-comentarios row">
                <i class="fa fa-comments-o fa-fw fa-lg"></i>&nbsp;{{ parrafo.comentarios|length }}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
{# ----------------------------------------------------------- #}
{% set autor_id = documento.autor.id %}
{% set autor_nombre_apellido = documento.autor.nombre ~ ' ' ~ documento.autor.apellido %}
{% set autor_avatar = avatarUrl(user.img_tipo, user.img_hash, 160) %}
{% set autor_avatar_32 = avatarUrl(documento.autor.img_tipo, documento.autor.img_hash, 32) %}
{% set autor_puntos = documento.autor.puntos %}
{% set autor_descripcion = 'Aca deberia haber una descripcion!' %}
{# ----------------------------------------------------------- #}
{% block opciones_cont %}
<section>

</section>

{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals_cont %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts_cont %}
<script src="{{ baseUrl() }}/assets/js/slick/slick.min.js"></script>
<script>
    var cantParrafos =  {{ cant_parrafos }};
    $(document).ready(function(){
        for(i = 1; i <= cantParrafos; i++){
            $('#p'+i).data('powertiptarget', 'p'+i+'-tt-comentarios');
            $('#p'+i).powerTip({
                placement: 'w',
                mouseOnToPopup: true,
                offset: 15
            });
        }
        autosize($("textarea[name='cuerpo']"));
    });

    $('.doc-texto p').hover(function () {
        $(this).find(".bt-comentar").show();
        $(this).find(".bt-comentarios").show();
    },function () {
        $(this).find(".bt-comentar").hide();
        $(this).find(".bt-comentarios").hide();
    });

    $( ".bt-comentar" ).click(function() {
        $('.box-comentar').hide();
        $('.box-comentarios').hide();
        console.log($(this).parent().attr('id'));
        var parrafoId = $(this).parent().attr('id');
        $('#'+parrafoId+'-box-comentar').slideToggle();
    });

    $( ".bt-cerrar-box" ).click(function() {
        $('.box-comentar').hide();
    });

    $( ".bt-cerrar-comentarios" ).click(function() {
        $('.box-comentarios').hide();
    });

    $( ".bt-comentarios" ).click(function() {
        $('.box-comentar').hide();
        $('.box-comentarios').hide();
        var parrafoId = $(this).parent().attr('id');
        $('#'+parrafoId+'-box-comentarios').show();
    });

</script>
{% endblock %}
{# ----------------------------------------------------------- #}
