{# VARIBLES #}
{% set cant_parrafos = version.parrafos|length %}

{% extends "contenido/ver-contenido.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Documento - {{ documento.titulo|capitalize }} {% endblock %}
{# ----------------------------------------------------------- #}
{% set contenido_tipo = 'documento' %}
{% set contenido_icono = 'fa-file-text-o' %}
{# ----------------------------------------------------------- #}
{% set titulo_cont = documento.titulo %}
{% set fecha_cont = '' ~ documento.created_at|date("d/m/Y") %}
{% set puntos_cont = '' ~ documento.puntos %}
{% set ver_comentarios = false %}
{% set url_modificar = urlFor('shwModifDocumen', {'idDoc': documento.contenible_id}) %}
{% set url_eliminar = urlFor('runElimiDocumen', {'idDoc': documento.contenible_id} ) %}
{# ----------------------------------------------------------- #}
{% block content_botones %}
<li><a href="{{ urlFor('shwNuVerDocumen', {'idDoc': documento.contenible_id }) }}" class="button tiny oposite radius"><i class="fa fa-plus fa-fw"></i> Nueva Version</a></li>
{% endblock content_botones %}
{# ----------------------------------------------------------- #}
{% set share_link = documento.link %}
{% set twitter_txt = 'Me intereso este ' ~ documento.contenible_type|lower  %}
{% set email_subject = 'Mire intereso compartir este ' ~ documento.contenible_type|lower ~ ' con vos' %}
{% set email_body = 'Me parecio interesante compartir con vos este ' ~ documento.contenible_type|lower ~ '&crarr;' ~ documento.link %}
{# ----------------------------------------------------------- #}
{% set tags = documento.tags %}
{% set autor = documento.autor %}
{# ----------------------------------------------------------- #}
{% block accesos_content %}
{% if version.version == documento.ultima_version %}
<li><a href="#versiones" class="button expand oposite radius small"><i class="fa fa-history fa-fw fa-lg"></i> Versiones</a></li>
{% else %}
<li><a href="{{ urlFor('shwDocumen', {'idDoc': documento.contenible_id}) }}" class="button expand oposite radius small"><i class="fa fa-history fa-fw fa-lg"></i> Mas reciente</a></li>
{% endif %}
{% endblock accesos_content %}
{# ----------------------------------------------------------- #}

{# ----------------------------------------------------------- #}
{% if version.version != documento.ultima_version %}
{% set alert = true %}
{% set alert_class = 'alerta ir-ultima-version text-center'%}
{% block content_alert %}
<a href="{{ urlFor('shwDocumen', {'idDoc': documento.contenible_id}) }}" class="button oposite radius tiny expand">
	<i class="fa fa-history fa-fw"></i> NOTA: Usted Esta viendo una version anterior. Haga clic aquí para ver la version mas reciente.
</a>
{% endblock content_alert %}
{% endif %}
{# ----------------------------------------------------------- #}
{% block content_body %}
<div class="row">
	<div class="small-12 medium-8 medium-centered columns text-center">
		<div class="descripcion panel text-center">
			{{ documento.descripcion }}
		</div>
	</div>
</div>
{% if version.version != documento.ultima_version %}
<div class="row">
	<div class="small-12 columns text-center">
		<h6><b><i class="fa fa-history fa-fw"></i> NOTA: Usted esta leyendo una versión anterior (V{{ version.version}})</b></h6>
	</div>
</div>
<hr>
{% endif %}
<div class="row texto-documento">
	<div class="small-12 columns">
		{% for parrafo in version.parrafos %}
		<div id="p{{ parrafo.ubicacion }}" class="parrafo text-justify">
			{{ parrafo.cuerpo|bbCode }}
		</div>
		<div id="p{{ parrafo.ubicacion }}-box-comentario" class="box-comentarios" style="display:none">
			<div class="barra text-right">
				<i class="bt-cerrar-comentarios fa fa-times fa-fw" style="color: #222222;"></i>&nbsp;
			</div>
			<table class="comentarios">
				<thead>
					<th style="display:none">Icono</th>
					<th style="display:none">Comentario</th>
					<th style="display:none">Enviar</th>
				</thead>
				<tbody>
					{% if user %}
					{% if version.version == documento.ultima_version %}
					<tr>
						<td><a href="{{ urlFor('shwUsuario',{'idUsu': user.id}) }}"><img class="img-perfil size-32" src="{{ avatarUrl(user.img_tipo, user.img_hash, 32) }}"></a></td>
						<form action="{{ urlFor('runComentar', {'tipoRaiz': 'ParrafoDocumento' , 'idRaiz': parrafo.id}) }}" method="POST">
							<td colspan="2">
								<textarea name="cuerpo" rows=1 placeholder="Escriba su comentario..." style="margin-bottom:5px"></textarea>
								<button class="button success radius tiny right"><i class="fa fa-send fa-fw"></i> Enviar</button>
							</td>
						</form>
					</tr>
					{% endif %}
					{% else %}
					<tr>
						<td class="iniciar-sesion text-center" colspan="3">
							<h5><b>Inicie sesión o Registresé</b></h5>
							<p>Para poder comentar, debe primero <a href="{{ urlFor('shwLogin') }}">Iniciar sesion <i class="fa fa-sign-in fa-fw fa-lg"></i></a></p>
						</td>
					</tr>
					{% endif %}
					{% if parrafo.comentarios|length > 0 %}
					{% for comentario in parrafo.comentarios %}
					<tr>
						<td class="text-center">
							<a href="{{ urlFor('shwUsuario',{'idUsu': comentario.autor.id}) }}"><img class="img-perfil size-32" src="{{ avatarUrl(comentario.autor.img_tipo, comentario.autor.img_hash, 32) }}"></a>
							{% if user.patrulla_id != null %}
							<a class="link sancionar" href='javascript:sancionar({{comentario.autor.id}})' class="bt-sancionar">
								<i class="fa fa-fw fa-shield fa-lg"></i>
							</a>
							{% endif %}
						</td>
						<td colspan="2">
							<a class="link user" href="{{ urlFor('shwUsuario',{'idUsu': comentario.autor.id}) }}">
								{{ comentario.autor.nombre }} {{ comentario.autor.apellido }}
							</a>
							<a class="link puntos" href="javascript:void(0)">
								<i class="fa fa-fw fa-trophy"></i> {{ comentario.autor.puntos }}
							</a>
							<a class="link down" href="javascript:javascript:votarComentario({{comentario.id}},-1)"><i class="fa fa-fw fa-thumbs-o-down "></i></a>
							<a class="link up" href="javascript:votarComentario({{comentario.id}},1)"><i class="fa fa-fw fa-thumbs-o-up "></i> {{ comentario.votos }}</a>
							<br>
							<div class="comentario-texto">
								{{ comentario.cuerpo|nl2br }}
							</div>
						</td>
					</tr>
					{% endfor %}
					{% else %}
					<tr class="sin-comentarios">
						<td class="text-center" colspan="3">
							<h5><b>Sin comentarios</b></h5>
							{% if version.version == documento.ultima_version %}
							<p>Sea el primero en dejar un comentario</p>
							{% else %}
							<p>No puede comentar parrafos de versiones anteriores.</p>
							{% endif %}
						</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
		<div id="p{{ parrafo.ubicacion }}-tt-comentarios" class="bt-comentarios" style="display:none;">
			<div class="tt-comentarios">
				<i class="fa fa-comments-o fa-fw fa-lg"></i>&nbsp;{{ parrafo.comentarios|length }}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<form id="votarComentario" method="POST">
    <input type="text" name="valor" style="display:none">
</form>
{% endblock %}
{# ----------------------------------------------------------- #}
{% set autor_id = documento.autor.id %}
{% set autor_nombre_apellido = documento.autor.nombre ~ ' ' ~ documento.autor.apellido %}
{% set autor_avatar = avatarUrl(user.img_tipo, user.img_hash, 160) %}
{% set autor_avatar_32 = avatarUrl(documento.autor.img_tipo, documento.autor.img_hash, 32) %}
{% set autor_puntos = documento.autor.puntos %}
{% set autor_descripcion = 'Aca deberia haber una descripcion!' %}
{# ----------------------------------------------------------- #}
{% block opciones_cont %}
{% if version.version == documento.ultima_version and documento.ultima_version > 1 %}
<div id="versiones" class="panel white opciones">
	<div class="row">
		<div class="small-12 columns text-center">
			<h4><b><i class="fa fa-history fa-fw"></i> Ver versiones anteriores del documento</b></h4>
			<hr>
			{% for i in documento.ultima_version-1..1 %}
			<a href="{{ urlFor('shwVerDocumen', {'idDoc': documento.contenible_id, 'idVer': i}) }}">
				<span class="fa-stack fa-2x">
					<i class="fa fa-file-o fa-stack-2x"></i>
					<strong class="fa-stack-1x version-text">V{{i}}</strong>
				</span>
			</a>
			{% endfor %}
		</div>
	</div>
</div>
</div>
</div>
{% endif %}
{% endblock %}
{# ----------------------------------------------------------- #}
{% block content_modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block content_scripts %}
<script>
	var cantParrafos =  {{ cant_parrafos }};
	$(document).ready(function(){
		for(i = 0; i < cantParrafos; i++){
			$('#p'+i).data('powertiptarget', 'p'+i+'-tt-comentarios');
			$('#p'+i).powerTip({
				placement: 'e',
				mouseOnToPopup: true,
				smartPlacement: true,
				offset: 15
			});
		}
		autosize($("textarea[name='cuerpo']"));
	});

	$('.parrafo').click(function () {
		$('.box-comentarios').hide();
		$('.parrafo').addClass('unselected');
		$(this).removeClass('unselected');
		var parrafoId = $(this).attr('id');
		$('#'+parrafoId+'-box-comentario').show();
	});

	$( ".bt-cerrar-comentarios" ).click(function() {
		$('.parrafo').removeClass('unselected');
		$('.box-comentarios').hide();
	});

    var votarComentario = function(id, valor){
        var action_no = "{{ urlFor('runVotarComenta') }}";
        $('#votarComentario').find('input[name="valor"]').val(valor)
        var action_yes = action_no.replace(':idCom',id);
        $('#votarComentario').attr('action', action_yes);
        $('#votarComentario').submit();
    }

</script>
{% endblock %}
{# ----------------------------------------------------------- #}
