{# VARIABLES PARA FORMATO DE MASTER-BODY.TWIG #}
{% set url_atras = '#' %}
{% set i_class_icon = 'fa fa-bullhorn fa-fw' %}
{% set titulo = 'Ver propuesta' %}
{% set comments = true %}
{% set commentUrl = baseUrl() ~ "/comentar/propuesta/" ~ propuesta.id %}
{% set rtaUrl = baseUrl() ~ "/comentar/comentarios/" %}

{# VARIABLES DE LA VISTA #}
{% set total_votos = propuesta.votos_favor + propuesta.votos_neutro + propuesta.votos_contra %}
{% if total_votos > 0 %}
{% set porc_favor = ( propuesta.votos_favor / ( total_votos ))*100 %}
{% set porc_neutro = ( propuesta.votos_neutro / ( total_votos ))*100 %}
{% set porc_contra = ( propuesta.votos_contra / ( total_votos ))*100 %}
{% endif %}

{# ---------------------- #}

{% extends "master-body.twig" %}

{% block titulo %}
Virtuagora - Propuesta #{{ propuesta.id }} por {{ propuesta.autor.nombre }} {{ propuesta.autor.apellido }}
{% endblock %}

{% block contenido %}
<!-- Fila c/ titulo y otros datos! -->
<section id="vista-contenido">
    <div class="row">
        <div class="large-10 large-centered columns">
            <div class="text-center">
                <h1><b>{{ propuesta.titulo }}</b></h1>
                <h4 class="subheader"><small>Creado el {{ propuesta.created_at|date("d/m/Y") }}</small></h1>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="large-6 large-centered columns">
            <h6 class="subheader text-center"><b>Autor de la propuesta</b></h6>
            <ul class="vcard">
                <li clearfix>
                    <div class="left autor">
                        <a href='#'><img src="{{ avatarUrl(propuesta.autor.img_tipo, propuesta.autor.img_hash, 32) }}" alt="profile image"></a>
                    </div>
                </li>
                <li class="nombre">
                    <span><i class="fa fa-user fa-border"></i></span>&nbsp;
                    <a href='#'><b><span>{{ propuesta.autor.nombre|capitalize  }}</span>
                        <span>{{ propuesta.autor.apellido|capitalize  }}</span></b></a>
                </li>
                <li class="puntos">
                    <span><i class="fa fa-trophy fa-border"></i></span>&nbsp;
                    <span>{{ propuesta.autor.puntos }}</span>
                    <span>puntitos!</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="large-10 large-centered columns">
            <div class="texto text-justify">
                {{ propuesta.cuerpo|bbCode }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-6 large-centered columns">
            <h4 class="subheader text-center"><b>¿Que te parecio la propuesta?</b></h4>
            <ul class="button-group even-3" >
                <li><span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Me gusta mucho!">
                    <a id="voto_favor" href="#" class="button secondary small" style="background: #C8EDB5;"><i class="fa fa-thumbs-o-up fa-fw fa-2x"></i></a>
                    </span></li>
                <li><span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Tengo mis dudas aún..">
                    <a id="voto_neutro" href="#" class="button secondary small"><i class="fa fa-meh-o fa-2x"></i></a></span></li>
                <li><span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="No la apruebo">
                    <a id="voto_contra" href="#" class="button secondary small" style="background: #F4BCBC;"><i class="fa fa-thumbs-o-down fa-2x"></i></a></span></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="large-4 large-centered columns">
            <a href="#" class="button expand warning tiny" onclick="showResultadosPropuesta([{{ porc_favor }},{{ porc_neutro }},{{ porc_contra }}], 100)"><i class="fa fa-bar-chart fa-fw fa-lg"></i>&nbsp;Ver resultados parciales</a>
        </div>
    </div>
    <!-- Resultados propuesta - div oculto-->
    <div id="propuesta-resultado" style="display: none;" class="row">
        {% if total_votos > 0 %}
        <div class="row">
            <div class="large-10 large-centered columns">
                <div class="clearfix">
                    <div class="right">
                        <small>Cerrar</small>
                        <a href="#" onclick="hideResultadosPropuesta()"><i class="fa fa-times fa-fw fa-lg"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="large-10 large-centered columns">
                <table class="chart">
                    <tbody>
                        <tr>
                            <td>
                                <p id="porc_favor" class="percentage"></p>
                            </td>
                            <td class="chart">
                                {{ propuesta.votos_favor }} persona{{ (propuesta.votos_favor > 1) or (propuesta.votos_favor == 0) ? 's' : '' }} aprueba{{ (propuesta.votos_favor > 1) or (propuesta.votos_favor == 0) ? 'n' : '' }} la propuesta
                                <div class="barchart">
                                    <span id="barra_favor" class="meter" ></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p id="porc_neutro" class="percentage"></p>
                            </td>
                            <td class="chart">
                                {{ propuesta.votos_neutro }} persona{{ (propuesta.votos_neutro > 1) or (propuesta.votos_neutro == 0) ? 's' : '' }} no tiene{{ (propuesta.votos_neutro > 1) or (propuesta.votos_neutro == 0) ? 'n' : '' }} posicion sobre la propuesta
                                <div class="barchart">
                                    <span id="barra_neutro" class="meter" ></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p id="porc_contra" class="percentage"></p>
                            </td>
                            <td class="chart">
                                {{ propuesta.votos_contra }} persona{{ (propuesta.votos_contra > 1) or (propuesta.votos_contra == 0) ? 's' : '' }} no aprueba{{ (propuesta.votos_contra > 1) or (propuesta.votos_contra == 0) ? 'n' : '' }} la propuesta
                                <div class="barchart">
                                    <span id="barra_contra" class="meter" ></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="large-10 large-centered columns">
                <div class="text-center">
                    <h3>¡Nadie ha participado aún!</h3>
                    <h3><small>Se el primero dejando una opinion al respecto <i class="fa fa-smile-o fa-fw fa-lg"></i></small></h3>
                </div>

            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block modal %}
<div id="publicarPostura" class="reveal-modal remove-whitespace small" data-reveal>
    {% include "contenido/propuesta/publicar-postura.twig" %}
</div>
{% endblock %}


{% block scripts %}
<script src="{{ baseUrl }}/assets/js/foundation/foundation.tooltip.js"></script>
<script src="{{ baseUrl }}/assets/js/underscore/underscore-min.js"></script>
<script>
    // Para porcentajes
    // foo([13.626332, 47.989636, 9.596008, 28.788024], 100) // => [48, 29, 14, 9]
    var showResultadosPropuesta = function (l, target) {
        var $sum = _.reduce(l, function(memo, num){ return memo + num; }, 0);
        if ($sum > 0) {
            var $off = target - _.reduce(l, function(acc, x) { return acc + Math.round(x) }, 0);
            var $porcentajes = _.chain(l).
            //sortBy(function(x) { return Math.round(x) - x }).
            map(function(x, i) { return Math.round(x) + ($off > i) - (i >= (l.length + $off)) }).
            value();
            $("#porc_favor").html($porcentajes[0] + "%");
            $("#porc_neutro").html($porcentajes[1] + "%");
            $("#porc_contra").html($porcentajes[2] + "%");
            $("#barra_favor").css("width",($porcentajes[0]).toString() + "%");
            $("#barra_neutro").css("width",($porcentajes[1]).toString() + "%");
            $("#barra_contra").css("width",($porcentajes[2]).toString() + "%");
        }
        $("#propuesta-resultado").show(500);
    }

    var hideResultadosPropuesta = function (){
        $("#propuesta-resultado").hide(500);
    }

    var modalPosturaCompletar = function (valorPostura){
        $("#posturaInfo").removeAttr("class");
        $("#posturaInfo i").removeAttr("class");
        $("#posturaInfo h6 b").empty();
        $("#posturaInfo").addClass("text-center");
        if(valorPostura == 1){
            $("#posturaInfo").attr("style","background: #C8EDB5;");
            $("#posturaInfo i").addClass( $("#voto_favor i").attr('class') );
            $("#posturaInfo h6 b").html("¡Estas a favor de la propuesta!");
        } else if (valorPostura == 0) {
            $("#posturaInfo").attr("style","background: #e7e7e7;");
            $("#posturaInfo i").addClass( $("#voto_neutro i").attr('class') );
            $("#posturaInfo h6 b").html("Tu posicion con la postura es neutra");
        } else if (valorPostura == -1) {
            $("#posturaInfo").attr("style","background: #F4BCBC;");
            $("#posturaInfo i").addClass( $("#voto_contra i").attr('class') );
            $("#posturaInfo h6 b").html("Estas en contra de la postura");
        }
    }

    var usuarioLogueado = function (){
        var hayLogin = {{ (user.nombre is not empty) ? 'true' : 'false' }} ;
    return hayLogin;
    }

    $("#voto_favor").on("click", function() {
        if(usuarioLogueado()){
            $("#posturaVoto").val(1);
            modalPosturaCompletar(1);
            $('#publicarPostura').foundation('reveal', 'open');
        } else {
            $('#login-modal').foundation('reveal', 'open');
        }
    });

    $("#voto_neutro").on("click", function() {
        if(usuarioLogueado()){
            $("#posturaVoto").val(0);
            modalPosturaCompletar(0);
            $('#publicarPostura').foundation('reveal', 'open');
        } else {
            $('#login-modal').foundation('reveal', 'open');
        }
    });

    $("#voto_contra").on("click", function() {
        if(usuarioLogueado()){
            $("#posturaVoto").val(-1);
            modalPosturaCompletar(-1);
            $('#publicarPostura').foundation('reveal', 'open');
        } else {
            $('#login-modal').foundation('reveal', 'open');
        }
    });

	{% if comments == true %}
	{% include "misc/comentarios.js.twig" %}
	{% endif %}

</script>
{% endblock %}
