<html>
    <head>
        <title>Virtuagora - Fail</title>
        <style>
            body {
                margin:0;padding:30px;font:12px/1.5 Helvetica,Arial,Verdana,sans-serif;
            }
            h1 {
                margin:0;font-size:48px;font-weight:normal;line-height:48px;
            }
            strong {
                display:inline-block;width:65px;
            }
        </style>
    </head>
    <body>
        <h1>FATAL ERROR!</h1>
        <p>The application could not run because of the following error:</p>
        <h2>Details</h2>
        <div><strong>Type:</strong> {{type}}</div>
        <div><strong>Code:</strong> {{exception.code}}</div>
        <div><strong>Message:</strong> {{exception.message}}</div>
        <div><strong>File:</strong> {{exception.file}}</div>
        <div><strong>Line:</strong> {{exception.line}}</div>
        <h2>Trace</h2>
        <pre>{{exception.traceAsString}}</pre>
    </body>
</html>
