{# VARIBLES #}
{% set total_afectados = problematica.afectados_directos + problematica.afectados_indirectos + problematica.afectados_indiferentes %}
{% if total_afectados > 0 %}
{% set porc_afec_directos = ( problematica.afectados_directos / ( total_afectados ))*100 %}
{% set porc_afec_indirectos = ( problematica.afectados_indirectos / ( total_afectados ))*100 %}
{% set porc_afec_indiferentes = ( problematica.afectados_indiferentes / ( total_afectados ))*100 %}
{% endif %}

{% extends "contenido/ver-contenido.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Problematica #{{ problematica.id }} - Virtuágora{% endblock %}
{# ----------------------------------------------------------- #}
{% set color_cont = 'color-problematica' %}
{# ----------------------------------------------------------- #}
{% set titulo_cont = problematica.titulo %}
{% set fecha_cont = '' ~ problematica.created_at|date("d/m/Y") %}
{# set url_modificar = urlFor('shwModifProblem', {'idPro': problematica.id}) #}

{% set ver_comentarios = true %}
{% set url_comentar = urlFor('runComentar', {'tipoRaiz': 'problematica' , 'idRaiz': problematica.id}) %}
{% block cuerpo_cont %}
{{ problematica.cuerpo|bbCode }}
<div class="row">
    <div class="panel referido-propuesta-info">
        <div class="row">
            <div class="medium-2 columns text-center"><span class="icono"><i class="flaticon {{ referido is defined ? 'small' : 'large' }} flaticon-inspiration"></i></span></div>
            <div class="medium-10 columns">
                {% if referentes is defined %}
                <h4><b>Propuestas asociada</b></h4>
                {% for referido in referentes %}
                <p><a href="{{ urlFor('shwPropues',{'idPro': referido.id}) }}"><i class="flaticon flaticon-inspiration"></i> Propuesta #{{ referido.id }} - {{ referido.titulo }}</a> - Por {{ referido.autor.nombre }} {{ referido.autor.apellido }}</p>
                {% endfor %}
                {% else %}
                {% if user.es_funcionario == 1 %}
                <h4><b>La siguiente problemática no cuenta con ninguna propuesta.</b></h4>
                <p><b>Pero usted es funcionario</b>, y cuenta con las herramientas de poder hacer algo al respecto y proponer una o varias soluciones a esta problemática.<br><b>¡Animesé!</b> Cree una propuesta de solución a la problemática (#ID {{ problematica.id }}). En el momento que usted la crea, tanto los afectados a la problemática como los integrantes del partido político al que se encuentre afiliado serán notificados.
                </p>
                <div class="right" style="margin-top: 10px;">
                    <a href="{{ urlFor('shwCrearPropues') }}#{{ problematica.id }}" class="button success radius small"><i class="fa fa fa-plus fa-fw"></i> <i class="flaticon flaticon-man282"></i> Crear propuesta para la problematica #{{ problematica.id }}</a>
                </div>
                {% else %}
                <h4><b>La siguiente problemática no cuenta con ninguna propuesta.</b></h4>
                <p><b>Pero usted puede ayudar con su participación</b> Si usted encuentra que la problemática le afecta directamente o le preocupa (le afecta indirectamente) entonces participe dejando su postura. Esto permitirá que los funcionarios esten mas atentos a que problemáticas afectan en mayour cantidad a los ciudadanos y puedan actuar proponiendo nuevas propuestas de solución.
                </p>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{# ----------------------------------------------------------- #}
{% set autor_id = problematica.autor.id %}
{% set autor_nombre_apellido = problematica.autor.nombre ~ ' ' ~ problematica.autor.apellido %}
{% set autor_avatar = avatarUrl(problematica.autor.img_tipo, problematica.autor.img_hash, 160) %}
{% set autor_avatar_32 = avatarUrl(problematica.autor.img_tipo, problematica.autor.img_hash, 32) %}
{% set autor_puntos = problematica.autor.puntos %}
{% set autor_descripcion = 'Aca deberia haber una descripcion!' %}
{# ----------------------------------------------------------- #}
{% set share_link = problematica.link %}
{% set twitter_txt = 'Vean esta ' ~ problematica.contenible_type|lower  %}
{% set email_subject = 'Queria compartir esta ' ~ problematica.contenible_type|lower ~ ' con vos' %}
{% set email_body = 'Me parecio interesante compartir con vos esta ' ~ problematica.contenible_type|lower ~ '&crarr;' ~ problematica.link %}
{# ----------------------------------------------------------- #}
{% block opciones_cont %}
{% if user.id != problematica.autor.id %}
<section class="problematica-voto">
    <div class="row">
        <section id="votando-problematica" class="votando-problematica small-10 small-centered columns text-center">
            <h1>¿Como le afecta esta problemática?</h1>
            <ul>
                <li><div class="bt-directamente button oposite large radius"><i class="fa fa-exclamation fa-rotate-180 fa-2x"></i><i class="fa fa-child fa-fw fa-2x"></i><i class="fa fa-exclamation fa-2x"></i></div></li>
                <li><div class="bt-indirectamente button oposite large radius"><i class="fa fa-male fa-2x"></i></div></li>
                <li><div class="bt-indiferente button oposite large radius"><i class="fa fa-meh-o fa-fw fa-2x"></i></div></li>
            </ul>
        </section>
        <section id="cambiando-posicion" class="votando-problematica small-8 small-centered columns text-center">
            <div class="row">
                <div class="small-10 small-centered columns">
                    <div class="small-3 columns text-center">
                        <div class="icono-posicion-votada"></div>
                    </div>
                    <div class="small-9 columns text-center">
                        <div class="postura-posicion-votada panel">
                            <h6></h6>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h1>¿Qué le gustaría hacer?</h1>
            <div class="row">
                <div class="small-10 small-centered columns text-center">
                    <h4>Redefinir como me afecta la problemática</h4>
                    <ul>
                        <li class='cambiar-directamente'><div class="bt-directamente button oposite radius"><i class="fa fa-exclamation fa-rotate-180 fa-2x"></i><i class="fa fa-child fa-fw fa-2x"></i><i class="fa fa-exclamation fa-2x"></i></div></li>
                        <li class='cambiar-indirectamente'><div class="bt-indirectamente button oposite radius"><i class="fa fa-male fa-2x"></i></div></li>
                        <li class='cambiar-indiferente'><div class="bt-indiferente button oposite radius"><i class="fa fa-meh-o fa-fw fa-2x"></i></div></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="confirmar-voto small-8 small-centered columns text-center">
            <div class="row">
                <div class="small-3 columns">
                    <div class="icono-voto-seleccionado"></div>
                </div>
                <div class="small-8 columns">
                    <form action="{{ urlFor('runVotarProblem', {'idPro': problematica.id}) }}" method="POST">
                        <div class="panel postura-posicion">
                            <h6></h6>
                        </div>
                        <input type="hidden" id="posturaVoto" name="postura" value="">
                        <div class="postura-info">
                            <p></p>
                            <p></p>
                        </div>
                        <ul>
                            <li><div class="bt-cancelar-voto button oposite radius"><i class="fa fa-undo fa-fw fa-lg"></i>&nbsp;Cancelar</div></li>
                            <li><button class="button oposite radius"><i class="fa fa-check fa-fw fa-lg"></i>&nbsp;Enviar</button></li>
                        </ul>
                    </form>
                </div>
            </div>
        </section>
    </div>
</section>
{% endif %}
<section class="resultados resultados-problematica">
    {% if total_afectados > 0 %}
    <div class="vista-resultados row text-ceter">
        <div class="small-10 small-centered columns">
            <table class="grafico">
                <tbody>
                    <tr>
                        <td>
                            <p id="porc-directamente" class="porcentaje"></p>
                        </td>
                        <td class="grafico">
                            {{ problematica.afectados_directos }} persona{{ (problematica.afectados_directos > 1) or (problematica.afectados_directos == 0) ? 's' : '' }} le{{ (problematica.afectados_directos > 1) or (problematica.afectados_directos == 0) ? 's' : '' }} afecta directamente la problemática.
                            <div class="grafico-barra">
                                <span id="barra-directamente" class="metro" ></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p id="porc-indirectamente" class="porcentaje"></p>
                        </td>
                        <td class="grafico">
                            {{ problematica.afectados_indirectos }} persona{{ (problematica.afectados_indirectos > 1) or (problematica.afectados_indirectos == 0) ? 's' : '' }} le{{ (problematica.afectados_indirectos > 1) or (problematica.afectados_indirectos == 0) ? 's' : '' }} afecta indirectamente la problemática.
                            <div class="grafico-barra">
                                <span id="barra-indirectamente" class="metro" ></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p id="porc-indiferente" class="porcentaje"></p>
                        </td>
                        <td class="grafico">
                            {{ problematica.afectados_indiferentes }} persona{{ (problematica.afectados_indiferentes > 1) or (problematica.afectados_indiferentes == 0) ? 's' : '' }} le{{ (problematica.afectados_indiferentes > 1) or (problematica.afectados_indiferentes == 0) ? 's' : '' }} es indiferente la problemática.
                            <div class="grafico-barra">
                                <span id="barra-indiferente" class="metro" ></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="vista-sin-resultados row">
        <div class="large-10 large-centered columns">
            <div class="text-center">
                <h2>Nadie ha participado aún</h2>
                <h3><small>Participe y deje su postura al respecto</small></h3>
            </div>

        </div>
    </div>
    {% endif %}
</section>
<div class="borde-bt-resultados text-center">
    <div class="row">
        <div class="small-6 small-centered columns">
            <div class="bt-ver-resultados button expand" onclick="showResultadosProblematica([{{ porc_afec_directos }},{{ porc_afec_indirectos }},{{ porc_afec_indiferentes }}], 100)"><i class="fa fa-bar-chart fa-fw fa-lg"></i>&nbsp;Ver/Ocultar los resultados</div>
        </div>
    </div>
</div>
{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals_cont %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts_cont %}
<script src="{{ baseUrl() }}/assets/js/underscore/underscore-min.js"></script>
<script>
    var votoPostura = {{ voto.postura is null ? 'null' : voto.postura }};
    $(document).ready(function(){
        $('.resultados').hide();
        $('.confirmar-voto').hide();
        if(votoPostura != null){
            completarCambiarVoto(votoPostura);
            $('#votando-problematica').hide();
        } else{
            $('#cambiando-posicion').hide();
        }
    });

    $( ".bt-ver-resultados" ).click(function() {
        $('.resultados').slideToggle();
    });

    $( ".bt-cancelar-voto" ).click(function() {
        if(votoPostura == null){
            $('#votando-problematica').slideToggle();
        } else {
            $('#cambiando-posicion').slideToggle();
        }
        $('.confirmar-voto').slideToggle();
    });

    $( ".bt-directamente" ).click(function() {
        if(usuarioLogueado()){
            $("#posturaVoto").val(2);
            confirmarCompletar(2);
            if(votoPostura == null){
                $('#votando-problematica').slideToggle();
            } else {
                $('#cambiando-posicion').slideToggle();
            }
            $('.confirmar-voto').slideToggle();
        } else {
            alert('Inicie Sesion');
        }

    });

    $( ".bt-indirectamente" ).click(function() {
        if(usuarioLogueado()){
            $("#posturaVoto").val(1);
            confirmarCompletar(1);
            if(votoPostura == null){
                $('#votando-problematica').slideToggle();
            } else {
                $('#cambiando-posicion').slideToggle();
            }
            $('.confirmar-voto').slideToggle();
        } else {
            alert('Inicie Sesion');
        }
    });

    $( ".bt-indiferente" ).click(function() {
        if(usuarioLogueado()){
            $("#posturaVoto").val(0);
            confirmarCompletar(0);
            if(votoPostura == null){
                $('#votando-problematica').slideToggle();
            } else {
                $('#cambiando-posicion').slideToggle();
            }
            $('.confirmar-voto').slideToggle();
        } else {
            alert('Inicie Sesion');
        }
    });

    var showResultadosProblematica = function (l, target) {
        var $sum = _.reduce(l, function(memo, num){ return memo + num; }, 0);
        if ($sum > 0) {
            var $off = target - _.reduce(l, function(acc, x) { return acc + Math.round(x) }, 0);
            var $porcentajes = _.chain(l).
            //sortBy(function(x) { return Math.round(x) - x }).
            map(function(x, i) { return Math.round(x) + ($off > i) - (i >= (l.length + $off)) }).
            value();
            $("#porc-directamente").html($porcentajes[0] + "%");
            $("#porc-indirectamente").html($porcentajes[1] + "%");
            $("#porc-indiferente").html($porcentajes[2] + "%");
            $("#barra-directamente").css("width",($porcentajes[0]).toString() + "%");
            $("#barra-indirectamente").css("width",($porcentajes[1]).toString() + "%");
            $("#barra-indiferente").css("width",($porcentajes[2]).toString() + "%");
        }
        $("#propuesta-resultado").show(500);
    }

    var confirmarCompletar = function (valorPostura){
        $(".icono-voto-seleccionado").empty();
        if(valorPostura == 2 && votoPostura == null){
            var icono = $('<i class="fa fa-child fa-fw"></i>');
            $(".icono-voto-seleccionado").append(icono);
            $(".postura-posicion h6").html('Esta problemática le afecta <b>directamente</b>');
            $(".postura-info p:nth-child(1)").html('¿Está seguro que esta es su postura?');
            $(".postura-info p:nth-child(2)").html('Podrá cambiarlo luego de 3 días.');
        } else if (valorPostura == 2 && votoPostura != null) {
            var icono = $('<i class="fa fa-child fa-fw"></i>');
            $(".icono-voto-seleccionado").append(icono);
            $(".postura-posicion h6").html('Su postura cambiará a que está problematica le afecta <b>directamente</b>');
            $(".postura-info p:nth-child(1)").html('¿Está seguro que esta será su nueva postura?');
            $(".postura-info p:nth-child(2)").html('Usted ya puede cambiar su postura.');
        } else if (valorPostura == 1 && votoPostura == null) {
            var icono = $('<i class="fa fa-male fa-fw"></i>');
            $(".icono-voto-seleccionado").append(icono);
            $(".postura-posicion h6").html('Esta problemática le afecta <b>indirectamente</b>');
            $(".postura-info p:nth-child(1)").html('¿Está seguro que esta es su postura?');
            $(".postura-info p:nth-child(2)").html('Podrá cambiarlo luego de 3 días.');
        } else if (valorPostura == 1 && votoPostura != null) {
            var icono = $('<i class="fa fa-male fa-fw"></i>');
            $(".icono-voto-seleccionado").append(icono);
            $(".postura-posicion h6").html('Su postura cambiará a que está problematica le afecta <b>indirectamente</b>');
            $(".postura-info p:nth-child(1)").html('¿Está seguro que esta será su nueva postura?');
            $(".postura-info p:nth-child(2)").html('Usted ya puede cambiar su postura.');
        } else if (valorPostura == 0 && votoPostura == null) {
            var icono = $('<i class="fa fa-meh-o fa-fw"></i>');
            $(".icono-voto-seleccionado").append(icono);
            $(".postura-posicion h6").html('Esta problemática le es <b>indiferente</b>');
            $(".postura-info p:nth-child(1)").html('¿Está seguro que esta es su postura?');
            $(".postura-info p:nth-child(2)").html('Podrá cambiarlo luego de 3 días.');
        } else if (valorPostura == 0 && votoPostura != null) {
            var icono = $('<i class="fa fa-meh-o fa-fw"></i>');
            $(".icono-voto-seleccionado").append(icono);
            $(".postura-posicion h6").html('Su postura cambiará a que está problematica le resulta <b>indiferente</b>');
            $(".postura-info p:nth-child(1)").html('¿Está seguro que esta será su nueva postura?');
            $(".postura-info p:nth-child(2)").html('Usted ya puede cambiar su postura.');
        }
    }

    var completarCambiarVoto = function(postura,publico) {
        if (postura == 2) {
            var icono = $('<i class="fa fa-child fa-fw"></i>');
            $(".icono-posicion-votada").append(icono);
            $('.postura-posicion-votada h6').html('{{ user.nombre }}, has definido que la problemática te afecta <b>directamente</b>');
            $('li.cambiar-directamente').remove();
        } else if (postura == 1) {
            var icono = $('<i class="fa fa-men fa-fw"></i>');
            $(".icono-posicion-votada").append(icono);
            $('.postura-posicion-votada h6').html('{{ user.nombre }}, has definido que la problemática te afecta <b>indirectamente</b>');
            $('li.cambiar-indirectamente').remove();
        } else if (postura == 0) {
            var icono = $('<i class="fa fa-meh-o fa-fw"></i>');
            $(".icono-posicion-votada").append(icono);
            $('.postura-posicion-votada h6').html('{{ user.nombre }}, has definido que la problemática te es <b>indiferente</b>');
            $('li.cambiar-indiferente').remove();
        }
    }


    var usuarioLogueado = function (){
        var hayLogin = {{ (user.nombre is not empty) ? 'true' : 'false' }} ;
    return hayLogin;
    }
</script>
{% endblock %}
{# ----------------------------------------------------------- #}
