{# VARIABLES PARA FORMATO DE MASTER-BODY.TWIG #}
{% set url_atras = '#' %}
{% set i_class_icon = 'fa fa-bullhorn fa-fw' %}
{% set titulo = 'Ver problemática' %}
{% set comments = true %}
{% set commentUrl = urlFor('runComentar', {"tipoRaiz": "problematica" , "idRaiz": problematica.id}) %}
{% set rtaUrl = urlFor('runComentar', {"tipoRaiz": "comentario", "idRaiz": ""}) %}

{# VARIABLES DE LA VISTA #}
{% set total_afectados = problematica.afectados_directos + problematica.afectados_indirectos + problematica.afectados_indiferentes %}
{% if total_afectados > 0 %}
{% set porc_afec_directos = ( problematica.afectados_directos / ( total_afectados ))*100 %}
{% set porc_afec_indirectos = ( problematica.afectados_indirectos / ( total_afectados ))*100 %}
{% set porc_afec_indiferentes = ( problematica.afectados_indiferentes / ( total_afectados ))*100 %}
{% endif %}

{# ---------------------- #}

{% extends "master-body.twig" %}

{% block titulo %}
Virtuagora - Problematica #{{ problematica.id }} por {{ problematica.autor.nombre }} {{ problematica.autor.apellido }}
{% endblock %}

{% block contenido %}
<!-- Fila c/ titulo y otros datos! -->
<section id="vista-contenido">
    <div class="row">
        <div class="large-10 large-centered columns">
            <div class="text-center">
                <h1><b>{{ problematica.titulo }}</b></h1>
                <h4 class="subheader"><small>Creado el {{ problematica.created_at|date("m/d/Y") }}</small></h1>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="large-6 large-centered columns">
            <h6 class="subheader text-center"><b>Autor de la problemática</b></h6>
            <ul class="vcard">
                <li clearfix>
                    <div class="left autor">
                        <a href='#'><img src="{{ avatarUrl(problematica.autor.img_tipo, problematica.autor.img_hash, 32) }}" alt="profile image"></a>
                    </div>
                </li>
                <li class="nombre">
                    <span><i class="fa fa-user fa-border"></i></span>&nbsp;
                    <a href='#'><b><span>{{ problematica.autor.nombre }}</span>
                        <span>{{ problematica.autor.apellido }}</span></b></a>
                </li>
                <li class="puntos">
                    <span><i class="fa fa-trophy fa-border"></i></span>&nbsp;
                    <span>{{ problematica.autor.puntos }}</span>
                    <span><small>puntos</small></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="large-10 large-centered columns">
            <div class="texto text-justify">
                {{ problematica.cuerpo|bbCode }}
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="large-6 large-centered columns">
            <h4 class="subheader text-center"><b>¿Como le afecta esta problemática?</b></h4>
			{% if voto is not null %}
            <div class="panel text-center" style="padding: 10px 10px;">
            	<p style="font-size: 12px;">{{ user.nombre }}, ya votó esta problematica anteriormente opinando que <br /><span class='label'>{{ voto.postura == 0 ? 'le afecta directamente': '' }}{{ voto.postura == 1 ? 'le afecta indirectamente': '' }}{{ voto.postura == 2 ? 'le es indiferente': '' }}</span>
            	<br /><br />Puede cambiar su postura luego de los 3 días de haber votado, pero a cambio de<i class="fa fa-star fa-fw fa-lg"></i><span style="color: red;"><b>-5</b></span> puntos que serán descontados de sus puntos de reputación.
            	</p>


            </div>
			{% endif%}
            <ul class="button-group even-3" >
                <li><span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Afecta directamente">
                    <div id="afec_directo" href="#" class="button secondary small" style="background: #F7D363;"><i class="fa fa-child fa-fw fa-2x"></i><i class="fa fa-exclamation fa-2x"></i></div>
                    </span></li>
                <li><span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Afecta indirectamente">
                    <div id="afec_indirecto" href="#" class="button secondary small" style="background: #FAE8B0;"><i class="fa fa-male fa-2x"></i></div></span></li>
                <li><span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Indiferente">
                    <div id="afec_indiferente" href="#" class="button secondary small"><i class="fa fa-meh-o fa-2x"></i></div></span></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="large-4 large-centered columns text-center">
            <div class="button warning radius small" onclick="showResultadosProblematica([{{ porc_afec_directos }},{{ porc_afec_indirectos }},{{ porc_afec_indiferentes }}], 100)"><i class="fa fa-bar-chart fa-fw fa-lg"></i>&nbsp;Ver resultados parciales</div>
        </div>
    </div>
    <!-- Resultados problematica - div oculto-->
    <div id="problematica-resultado" style="display: none;" class="row">
        {% if total_afectados > 0 %}
        <div class="row">
            <div class="large-10 large-centered columns">
                <div class="clearfix">
                    <div class="right">
                        <small>Cerrar</small>
                        <a href="#" onclick="hideResultadosProblematica()"><i class="fa fa-times fa-fw fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-10 large-centered columns">
                <table class="chart">
                    <tbody>
                        <tr>
                            <td>
                                <p id="porc_afec_directos" class="percentage"></p>
                            </td>
                            <td class="chart">
                                {{ problematica.afectados_directos }} persona{{ (problematica.afectados_directos > 1) or (problematica.afectados_directos == 0) ? 's' : '' }} le{{ (problematica.afectados_directos > 1) or (problematica.afectados_directos == 0) ? 's' : '' }} afecta directamente la problemática.
                                <div class="barchart">
                                    <span id="barra_directo" class="meter" ></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p id="porc_afec_indirectos" class="percentage"></p>
                            </td>
                            <td class="chart">
                                {{ problematica.afectados_indirectos }} persona{{ (problematica.afectados_indirectos > 1) or (problematica.afectados_indirectos == 0) ? 's' : '' }} le{{ (problematica.afectados_indirectos > 1) or (problematica.afectados_indirectos == 0) ? 's' : '' }} afecta indirectamente la problemática.
                                <div class="barchart">
                                    <span id="barra_indirecto" class="meter" ></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p id="porc_afec_indiferentes" class="percentage"></p>
                            </td>
                            <td class="chart">
                                {{ problematica.afectados_indiferentes }} persona{{ (problematica.afectados_indiferentes > 1) or (problematica.afectados_indiferentes == 0) ? 's' : '' }} le{{ (problematica.afectados_indiferentes > 1) or (problematica.afectados_indiferentes == 0) ? 's' : '' }} es indiferente la problemática.
                                <div class="barchart">
                                    <span id="barra_indiferente" class="meter" ></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="large-10 large-centered columns">
                <div class="text-center">
                    <h3>Nadie ha participado aún</h3>
                    <h3><small>Participe y deje su postura al respecto</small></h3>
                </div>

            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block modal %}
<div id="publicarPostura" class="reveal-modal remove-whitespace tiny" data-reveal>
    {% include "contenido/problematica/publicar-postura.twig" %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ baseUrl }}/assets/js/foundation/foundation.tooltip.js"></script>
<script src="{{ baseUrl }}/assets/js/underscore/underscore-min.js"></script>
<script>
	$(document).ready(function() {
		{% if voto is not null %}
		var votoUsuario = {{ voto.postura }};
		if(votoUsuario == 2){
			$("#afec_directo").addClass("voto-elegido");
		} else if (votoUsuario == 1){
			$("#afec_indirecto").addClass("voto-elegido");
		} else if (votoUsuario == 0){
			$("#afec_indiferente").addClass("voto-elegido");
		}
		{% endif %}
	});

    // Para porcentajes
    // foo([13.626332, 47.989636, 9.596008, 28.788024], 100) // => [48, 29, 14, 9]
    var showResultadosProblematica = function (l, target) {
        var $sum = _.reduce(l, function(memo, num){ return memo + num; }, 0);
        if ($sum > 0) {
            var $off = target - _.reduce(l, function(acc, x) { return acc + Math.round(x) }, 0);
            var $porcentajes = _.chain(l).
            //sortBy(function(x) { return Math.round(x) - x }).
            map(function(x, i) { return Math.round(x) + ($off > i) - (i >= (l.length + $off)) }).
            value();
            $("#porc_afec_directos").html($porcentajes[0] + "%");
            $("#porc_afec_indirectos").html($porcentajes[1] + "%");
            $("#porc_afec_indiferentes").html($porcentajes[2] + "%");
            $("#barra_directo").css("width",($porcentajes[0]).toString() + "%");
            $("#barra_indirecto").css("width",($porcentajes[1]).toString() + "%");
            $("#barra_indiferente").css("width",($porcentajes[2]).toString() + "%");
        }
        $("#problematica-resultado").show(500);
    }

    var hideResultadosProblematica = function (){
        $("#problematica-resultado").hide(500);
    }

    var modalPosturaCompletar = function (valorPostura){
        $("#posturaInfo").removeAttr("class");
        $("#posturaInfo i").removeAttr("class");
        $("#posturaInfo h6 b").empty();
        $("#posturaInfo").addClass("text-center");
		{% if voto.postura is null %}
		$("#intro-comentario h6 b").html("¿Está seguro que este será su voto?");
		$("#intro-comentario p").html("Podrá cambiarlo más tarde, a cambio de<i class=\"fa fa-star fa-fw fa-lg\"></i><span style=\"color: red;\"><b>-5</b></span> puntos");
		{% else %}
		$("#intro-comentario h6 b").html("¿Está seguro que desea cambiar su voto");
		$("#intro-comentario p").html("Cambiarlo le costará <i class=\"fa fa-star fa-fw fa-lg\"></i><span style=\"color: red;\"><b>-5</b></span> puntos");
		{% endif %}
		$(".bt-enviar").show();
        if(valorPostura == 2){
            $("#posturaInfo").attr("style","background: #F7D363;");
            $("#posturaInfo i").html( $("#afec_directo").html() );
            $("#posturaInfo h6 b").html("Esta problemática le afecta directamente");
			{% if voto.postura is not null and voto.postura == 2 %}
			$("#intro-comentario h6 b").html("Usted ya ha votado esta postura");
			$("#intro-comentario p").empty();
			$(".bt-enviar").hide();
			{% endif %}
        } else if (valorPostura == 1) {
            $("#posturaInfo").attr("style","background: #FAE8B0;");
            $("#posturaInfo i").html( $("#afec_indirecto").html() );
            $("#posturaInfo h6 b").html("Esta problemática le afecta indirectamente");
			{% if voto.postura is not null and voto.postura == 1 %}
			$("#intro-comentario h6 b").html("Usted ya ha votado esta postura");
			$("#intro-comentario p").empty();
			$(".bt-enviar").hide();
			{% endif %}
        } else if (valorPostura == 0) {
            $("#posturaInfo").attr("style","background: #e7e7e7;");
            $("#posturaInfo i").html( $("#afec_indiferente").html() );
            $("#posturaInfo h6 b").html("Esta problemática le es indiferente");
			{% if voto.postura is not null and voto.postura == 0 %}
			("#intro-comentario h6 b").html("Usted ya ha votado esta postura");
			("#intro-comentario p").empty();
			(".bt-enviar").hide();
			{% endif %}
        }
    }

    var usuarioLogueado = function (){
        var hayLogin = {{ (user.nombre is not empty) ? 'true' : 'false' }} ;
    return hayLogin;
    }

    $("#afec_directo").on("click", function() {
        if(usuarioLogueado()){
            $("#posturaProblematica").val(2);
            modalPosturaCompletar(2);
            $('#publicarPostura').foundation('reveal', 'open');
        } else {
            $('#login-modal').foundation('reveal', 'open');
        }
    });

    $("#afec_indirecto").on("click", function() {
        if(usuarioLogueado()){
            $("#posturaProblematica").val(1);
            modalPosturaCompletar(1);
            $('#publicarPostura').foundation('reveal', 'open');
        } else {
            $('#login-modal').foundation('reveal', 'open');
        }
    });

    $("#afec_indiferente").on("click", function() {
        if(usuarioLogueado()){
            $("#posturaProblematica").val(0);
            modalPosturaCompletar(0);
            $('#publicarPostura').foundation('reveal', 'open');
        } else {
            $('#login-modal').foundation('reveal', 'open');
        }
    });

	$(".cerrar-modal").on("click", function() {
        $('#publicarPostura').foundation('reveal', 'close');
    });

	{% if comments == true %}
	{% include "misc/comentarios.js.twig" %}
	{% endif %}

</script>
{% endblock %}
