<nav id="social-sidebar" class="show-for-large">
    <ul>
        <li>
            <a href="http://www.facebook.com/sharer.php?u={{ share_link }}" class="facebook" target="_blank">
                <i class="fa fa-facebook fa-fw fa-lg"></i><span>Facebook</span>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/share?text={{ twitter_txt }}&url={{ share_link }}&hashtags=virtuagora" class="twitter" target="_blank">
                <i class="fa fa-twitter fa-fw fa-lg"></i><span>Twitter</span>
            </a>
        </li>
        <li>
            <a href="https://plus.google.com/share?url={{ share_link }}" class="googleplus" target="_blank">
                <i class="fa fa-google-plus fa-fw fa-lg"></i><span>Google+</span>
            </a>
        </li>
        <li>
            <a href="mailto:?subject={{ email_subject }}&amp;body={{ email_body }}" class="mail" target="_blank">
                <i class="fa fa-envelope fa-fw fa-lg"></i><span>Mail</span>
            </a>
        </li>
    </ul>
</nav>
