<ul class="social-inline">
    <li>
        <a href="http://www.facebook.com/sharer.php?u={{ share_link }}" class="color-facebook button oposite radius bg" style="color: white !important"  target="_blank">
            <i class="fa fa-facebook fa-fw fa-lg"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/share?text={{ twitter_txt }}&url={{ share_link }}&hashtags=virtuagora" class="color-twitter button oposite radius bg" style="color: white !important"  target="_blank">
            <i class="fa fa-twitter fa-fw fa-lg"></i>
        </a>
    </li>
    <li>
        <a href="https://plus.google.com/share?url={{ share_link }}" class="color-googleplus button oposite radius bg" style="color: white !important"  target="_blank">
            <i class="fa fa-google-plus fa-fw fa-lg"></i>
        </a>
    </li>
    <li>
        <a href="mailto:?subject={{ email_subject }}&amp;body={{ email_body }}" class="color-mail button oposite radius bg" style="color: white !important" target="_blank">
            <i class="fa fa-envelope fa-fw fa-lg"></i>
        </a>
    </li>
</ul>
