{# VARIBLES #}
{% set footer = true %}
{% set barraNav = true %}
{% set html_class = '' %}
{% set body_class = 'plantilla-cont' %}

{% extends "master.twig" %}

{# ----------------------------------------------------------- #}
{% block linkhead %}
<link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/assets/css/powertip/jquery.powertip.css"/>
{% block linkheads_cont %}{% endblock linkheads_cont %}
{% endblock %}
{# ----------------------------------------------------------- #}
{% block body %}
<header class="vista-header-cont corto {{ color_cont }} ">
    <div class="cuerpo-header-cont small-10 small-centered columns">
        <h1 class="titulo-cont">{{ titulo_cont }}</h1>
        <section class="opciones-cont cort">
            <ul class="opciones">
                {% if autor_id == user.id or user.es_moderador == true %}
                {% block botones_cont %}{% endblock %}
                <li><a href="{{ url_modificar }}" class="button tiny oposite radius"><i class="fa fa-pencil fa-fw"></i>&nbsp;Modificar</a></li>
                <li><a href="#" data-reveal-id="eliminarContenido" class="button tiny alert radius"><i class="fa fa-times fa-fw"></i>&nbsp;Eliminar</a></li>
                {% endif %}
                {% if user.es_moderador %}
                <li><a href="#" class="button tiny alert radius"><i class="fa fa-exclamation-circle fa-fw"></i></a></li>
                {% endif%}
                <li><a href="{{ urlFor('shwIndex') }}" class="button tiny oposite radius"><i class="fa fa-undo fa-fw"></i></a></li>
            </ul>
        </section>
    </div>
</header>
<main class="vista-cuerpo-cont corto {{ color_cont }} " role="main">
    <article class="cont">
        <section class="row">
            <div class="small-10 small-centered columns text-justify">
                <div class="panel-cont-corto">
                    {% block cuerpo_cont %}{% endblock cuerpo_cont %}
                </div>
            </div>
        </section>
        {% block opciones_cont %}{% endblock opciones_cont %}
        {% if ver_comentarios == true %}
        <section class="comentarios-cont {{color_cont}}">
            <div class="row">
                <div class="small-10 small-centered columns">
                    <h1 class="comentario-header">Comentarios</h1>
                </div>
            </div>
            <div class="row text-center">
                <div class="bt-comentar-cont button large radius"><i class="fa fa-comment fa-fw fa-lg"></i>&nbsp;Dejar un comentario</div>
            </div>
            <div class="row-comentar row" hidden>
                <div class="small-7 small-centered columns">
                    <div class="comentario-cont row">
                        <div class="avatar text-center">
                            <span class="user">
                                <img src="{{ avatarUrl(user.img_tipo, user.img_hash, 160) }}">
                            </span>
                            <span class="puntos">
                                <i class="fa fa-trophy fa-fw"></i>&nbsp;{{ user.puntos }}
                            </span>
                        </div>
                        <div class="comentario-wrapper">
                            <form action='{{ url_comentar }}' method="POST">
                                <div class="comenta-usuario"><i class="fa fa-caret-right fa-fw fa-lg"></i>&nbsp;{{ user.nombre }} {{ user.apellido }}</div>
                                <textarea class="comentario-cuerpo" name="cuerpo" placeholder="Deje su comentario..."></textarea>
                                <div class="comentario-confirmar text-right">
                                    <button class="button tiny success radius">
                                        <i class="fa fa-send fa-fw"></i>&nbsp;Enviar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% if comentarios|length > 0 %}
            <div class="row-comentarios row">
                <div class="text-center"><b>{{ comentarios|length }} Comentario{{ comentarios|length > 1 ? 's' : '' }}</b></div>
                <div class="wrapper-comentarios small-10 small-centered columns">
                    {% for comentario in comentarios %}
                    <div id="c{{ comentario.id }}" class="comentario-cont row">
                        <div class="avatar text-center">
                            <span class="user">
                                <img src="{{ avatarUrl(comentario.autor.img_tipo, comentario.autor.img_hash, 160) }}">
                            </span>
                        </div>
                        <div class="comentario-wrapper">
                            <div class="comenta-usuario">
                                {% if user.es_moderador %}
                                <span>
                                    <a href='javascript:void(0)' class="bt-sancionar" ><i class="fa fa-exclamation-circle fa-fw fa-lg"></i></a>
                                </span>
                                {% endif %}
                                <i class="fa fa-user fa-fw fa-lg"></i>&nbsp;{{ comentario.autor.nombre }} {{ comentario.autor.apellido }} &nbsp;-&nbsp;
                                <span>
                                    <i class="fa fa-trophy fa-fw fa-lg"></i>&nbsp;{{ comentario.autor.puntos }}&nbsp;-&nbsp;
                                </span>
                                <span class="fecha">
                                    {{ comentario.updated_at|date("d/m/Y") }} a las {{ comentario.updated_at|date("H:i") }}
                                </span>
                                <span class="voto right">
                                    <a href='#'><i class="fa fa-thumbs-down fa-fw fa-lg" style="color:#FF4040;"></i></a>
                                </span>
                                <span class="voto right">
                                    {{ comentario.votos }}<a href='#'>&nbsp;<i class="fa fa-thumbs-up fa-fw fa-lg" style="color:#33cc33;"></i></a>
                                </span>
                            </div>
                            <div class="comentario-cuerpo">{{ comentario.cuerpo }}</div>
                        </div>
                        <div class="acciones">
                            <ul>
                                <li><a id="bt-rta-c{{ comentario.id }}" class="bt-rta"><i class="fa fa-pencil-square-o fa-fw fa-lg"></i>&nbsp;Responder</a></li>
                                {% if (user.es_moderador) or (comentario.autor.id == user.id)  %}
                                <li><a href='javascript:void(0)'><i class="fa fa-times fa-fw fa-lg"></i>&nbsp;Eliminar</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% for respuesta in comentario.respuestas %}
                    <div id="c{{ comentario.id }}-r{{ respuesta.id }}" class="comentario-cont respuesta row">
                        <div class="avatar text-center">
                            <span class="user">
                                <img src="{{ avatarUrl(comentario.autor.img_tipo, comentario.autor.img_hash, 160) }}">
                            </span>
                        </div>
                        <div class="comentario-wrapper">
                            <div class="comenta-usuario">
                                {% if user.es_moderador %}
                                <span>
                                    <a href='javascript:void(0)' class="bt-sancionar" ><i class="fa fa-exclamation-circle fa-fw fa-lg"></i></a>
                                </span>
                                {% endif %}
                                <i class="fa fa-user fa-fw fa-lg"></i>&nbsp;{{ respuesta.autor.nombre }} {{ respuesta.autor.apellido }} &nbsp;-&nbsp;
                                <span>
                                    <i class="fa fa-trophy fa-fw fa-lg"></i>&nbsp;{{ respuesta.autor.puntos }}&nbsp;-&nbsp;
                                </span>
                                <span class="fecha">
                                    {{ respuesta.updated_at|date("d/m/Y") }} a las {{ respuesta.updated_at|date("H:i") }}
                                </span>
                                <span class="voto right">
                                    <a href='#'><i class="fa fa-thumbs-down fa-fw fa-lg" style="color:#FF4040;"></i></a>
                                </span>
                                <span class="voto right">
                                    {{ respuesta.votos }}<a href='#'>&nbsp;<i class="fa fa-thumbs-up fa-fw fa-lg" style="color:#33cc33;"></i></a>
                                </span>
                            </div>
                            <div class="comentario-cuerpo">{{ respuesta.cuerpo }}</div>
                        </div>
                        {% if (user.es_moderador) or (respuesta.autor.id == user.id)  %}
                        <div class="acciones">
                            <ul>
                                <li><a href='javascript:void(0)'><i class="fa fa-times fa-fw fa-lg"></i>&nbsp;Eliminar</a></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endfor %}
                    <div class="comentario-cont respuesta vacia row" hidden>
                        <div class="avatar text-center">
                            <span class="user">
                                <img src="{{ avatarUrl(user.img_tipo, user.img_hash, 160) }}">
                            </span>
                        </div>
                        <div class="comentario-wrapper">
                            <div class="comenta-usuario">
                                <i class="fa fa-caret-right fa-fw fa-lg"></i>&nbsp;{{ user.nombre }} {{ user.apellido }}&nbsp;
                                <span class="fecha">
                                    responde...
                                </span>
                            </div>
                            <form method="POST">
                                <textarea class="comentario-cuerpo" name="cuerpo" placeholder="Deje su respuesta..."></textarea>
                                <div class="comentario-confirmar text-right">
                                    <button class="button tiny success radius">
                                        <i class="fa fa-send fa-fw"></i>&nbsp;Enviar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            {% else %}
            <div class="row-sin-comentarios row text-center">
                <div class="box-comentarios">
                    <div class="wrapper-comentarios small-10 small-centered columns">
                        <div class="nadie-comento-icono row text-center">
                            <span class="fa-stack fa-lg ">
                                <i class="fa fa-comment-o fa-stack-2x"></i>
                                <i class="fa fa-question fa-stack-1x"></i>
                            </span>
                        </div>
                        <div class="nadie-comento row text-center">
                            <h4><b>No hay comentarios sobre la publicación</b></h4>
                            <p>Sea el primero dejando su comentario al respecto</p>
                            <div class="bt-focus-comentar button secondary radius">
                                <i class="fa fa-arrow-up fa-fw"></i>&nbsp;Dejar un comentario&nbsp;<i class="fa fa-arrow-up fa-fw"></i>
                            </div>
                        </div>
                        <div class="row linea-final"></div>
                    </div>
                </div>
            </div>
            {% endif %}
        </section>
        {% endif %}
    </article>
</main>
{% endblock body %}
{# ----------------------------------------------------------- #}
{% block modals %}

{% if autor_id == user.id or user.es_moderador == true %}
{% include 'contenido/eliminar.twig' %}
{% endif %}

{% block modals_cont %}{% endblock modals_cont %}

{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts %}
<script src="{{ baseUrl() }}/assets/js/powertip/jquery.powertip.min.js"></script>
<script src="{{ baseUrl() }}/assets/js/autosize/autosize.min.js"></script>
{% block scripts_cont %}{% endblock scripts_cont %}
<script>
    $(document).ready(function(){
        autosize($(".comentar-ta"));
    });

    $( ".bt-focus-comentar" ).click(function() {
        $( ".bt-comentar-cont" ).hide();
        $( ".row-comentar" ).slideDown(400, function(){
            $( ".comentario-cuerpo" ).focus();
        });
    });
    $( ".bt-comentar-cont" ).click(function() {
        $(this).hide();
        $( ".row-comentar" ).slideDown(400, function(){
            $( ".comentario-cuerpo" ).focus();
        });
    });
    $( ".bt-rta" ).click(function() {
        $( this ).hide();
        var c_div = $( this ).closest(".comentario-cont");
        console.log(c_div);
        var id = c_div.attr("id");
        console.log(id);
        id = id.slice(1);
        console.log(id);
        var r_div = $(".respuesta.vacia").clone();
        var r_actionURL =  "{{ urlFor('runComentar', {'tipoRaiz': 'comentario', 'idRaiz': 'idRespondiendo'}) }}";
        r_actionURL = r_actionURL.replace('idRespondiendo',id);
        r_div.removeAttr("vacia");
        r_div.find("form").attr("action",r_actionURL);
        r_div.insertAfter($('#c'+id));
        r_div.show();
    });
</script>
{% if autor_id == user.id or user.es_moderador == true %}
<script>
    $('.bt-cancelar-eliminar').on('click', function() {
        $('#eliminarContenido').foundation('reveal', 'close');
    });
</script>
{% endif %}
{% endblock scripts %}
{# ----------------------------------------------------------- #}
