{# VARIBLES #}
{% set footer = true %}
{% set barraNav = true %}
{% set notificaciones = true %}
{% set html_class = '' %}
{% set body_class = 'plantilla-cont' %}

{% extends "master.twig" %}

{# ----------------------------------------------------------- #}
{% block linkhead %}
{% block linkheads_cont %}{% endblock linkheads_cont %}
{% endblock %}
{# ----------------------------------------------------------- #}
{% block body %}
<header class="vista-header-cont corto {{ color_cont }} ">
    <div class="cuerpo-header-cont small-10 small-centered columns">
        <h1 class="titulo-cont">{{ titulo_cont }}</h1>
        <section class="opciones-cont cort">
            <ul class="opciones">
                {% if autor_id == user.id or user.es_moderador == true %}
                {% block botones_cont %}{% endblock %}
                <li><a href="{{ url_modificar }}" class="button tiny oposite radius"><i class="fa fa-pencil fa-fw"></i>&nbsp;Modificar</a></li>
                <li><a href="#" data-reveal-id="eliminarContenido" class="button tiny alert radius"><i class="fa fa-times fa-fw"></i>&nbsp;Eliminar</a></li>
                {% endif %}
                {% if user.es_moderador %}
                <li><a href="#" class="button tiny alert radius"><i class="fa fa-exclamation-circle fa-fw"></i></a></li>
                {% endif%}
                <li><a href="{{ urlFor('shwIndex') }}" class="button tiny oposite radius"><i class="fa fa-undo fa-fw"></i></a></li>
            </ul>
        </section>
    </div>
</header>
<main class="vista-cuerpo-cont corto {{ color_cont }} " role="main">
    <article class="cont">
        <section class="row">
            <div class="small-10 small-centered columns text-justify">
                <div class="panel-cont-corto">
                    {% block cuerpo_cont %}{% endblock cuerpo_cont %}
                </div>
            </div>
        </section>
        {% block opciones_cont %}{% endblock opciones_cont %}
        {% if ver_comentarios == true %}
        {% include 'contenido/comentarios.twig' %}
        {% endif %}
    </article>
</main>
{% endblock body %}
{# ----------------------------------------------------------- #}
{% block modals %}

{% if autor_id == user.id or user.es_moderador == true %}
{% include 'contenido/eliminar.twig' %}
{% endif %}

{% block modals_cont %}{% endblock modals_cont %}

{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts %}
<script src="{{ baseUrl() }}/assets/js/autosize/autosize.min.js"></script>
{% block scripts_cont %}{% endblock scripts_cont %}
{% if ver_comentarios == true %}
{% include 'contenido/comentarios.js.twig' %}
{% endif %}
{% if autor_id == user.id or user.es_moderador == true %}
<script>
    $('.bt-cancelar-eliminar').on('click', function() {
        $('#eliminarContenido').foundation('reveal', 'close');
    });
</script>
{% endif %}
{% endblock scripts %}
{# ----------------------------------------------------------- #}
