{# VARIBLES #}
{% set footer = true %}
{% set barraNav = true %}
{% set html_class = '' %}
{% set body_class = 'color-partido' %}

{% extends "master.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Virtuagora - Listar partidos políticos{% endblock %}
{# ----------------------------------------------------------- #}
{% block linkhead %}
{% endblock %}
{# ----------------------------------------------------------- #}
{% block body %}
<div class="listar-partidos">
    <div class="row">
        <div class="small-12 small-centered columns">
            <section class="intro-listado text-center">
                <div class="titulo-listado">
                    <i class="fa fa-flag fa-2x"></i>&nbsp;<i class="fa fa-search fa-2x"></i><br />LISTAR PARTIDOS POLITICOS
                </div>
                <div class="panel small-8 small-centered columns">
                    Aqui puede ver los partidos políticos que participan. Puede obtener mas información acerca de alguno haciendo clic sobre el icono <i class="fa fa-info fa-fw"></i> que lo redireccionará al perfil del partido.
                </div>
                {% if user and (user.es_funcionario == 1) and (user.es_jefe == 0) %}
                <a class="button oposite radius small" href="{{ urlFor('shwCrearPartido') }}"><i class="fa fa-plus fa-fw fa-lg"></i>&nbsp;Crear un nuevo partido</a>
                {% endif %}
                {% if user and (user.es_jefe == 1) %}
                <a class="button oposite radius small" href="{{ urlFor('shwModifPartido',{'idPar': user.partido_id}) }}"><i class="fa fa-edit fa-fw fa-lg"></i>&nbsp;Modificar datos de mi partido</a>
                <a class="button oposite radius small" href="{{ urlFor('shwModifRolPartido',{'idPar': user.partido_id}) }}"><i class="fa fa-wrench fa-fw fa-lg"></i>&nbsp;Administrar mi partido</a>
                {% endif %}
                <a class="button oposite radius small" href="{{ urlFor('shwIndex') }}"><i class="fa fa-undo fa-fw fa-lg"></i>&nbsp;Volver atrás</a>
            </section>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="row-listado small-12 small-centered columns">
            {% for p in partidos %}
            <div id="p{{ p.id }}" class="panel-partido">
                <div class="img-partido">
                    <a href="{{ urlFor('shwPartido',{'idPar': p.id}) }}"><img class="img-perfil square" src="{{ baseUrl() }}/img/partido/{{ p.id }}/160.png"></a>
                </div>
                <div class="wrapper-botones">
                    <a href="{{ urlFor('shwPartido',{'idPar': p.id}) }}" class="button small radius"><i class="fa fa-info-circle fa-fw"></i></a>
                    {% if user.partido_id is null %}
                    <div class="bt-asociarse button small success radius"><i class="fa fa-plus fa-fw"></i></div>
                    {% elseif user.partido_id == p.id %}
                    {% if (user.es_jefe == 1) %}
                    <a href="{{ urlFor('shwModifPartido',{'idPar': p.id}) }}" class="button small secondary radius"><i class="fa fa-edit fa-fw"></i></a>
                    <a href="{{ urlFor('shwModifRolPartido',{'idPar': p.id}) }}" class="button small warning radius"><i class="fa fa-wrench fa-fw"></i></a>
                    {% else %}
                    <div class="bt-dejar button small alert radius"><i class="fa fa-minus fa-fw"></i></div>
                    {% endif %}
                    {% endif %}
                </div>
                <div id="p{{ p.id }}-descripcion" class="wrapper-descripcion">
                    <div class="titulo"><h2><b><i class="fa fa-flag fa-fw"></i> <span class="p-nombre">{{ p.nombre|title }}</span> [{{ p.acronimo }}]</b></h2>
                    </div>
                    <hr class="salto">
                    <div class="descripcion">{{ p.descripcion|capitalize }}</div>
                    <hr class="salto">
                    <ul class="listado-h datos-extras">
                        <li><b><i class="fa fa-caret-right fw"></i> FUNDADOR:</b> {{ p.fundador|title }}</li>
                        <li><b><i class="fa fa-caret-right fw"></i> FECHA FUNDACION:</b> {{ p.fecha_fundacion|date("d/m/Y") }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    {% if nav %}
    <div class="row">
        <div class="large-6 panel clearfix large-centered columns">
            <div class="left">
                {% if nav.first %}
                <a href="{{ nav.first }}"><i class="fa fa-angle-double-left fa-fw fa-lg"></i></a>
                {% endif %}
                {% if nav.prev %}
                <a href="{{ nav.prev }}"><i class="fa fa-angle-left fa-fw fa-lg"></i></a>
                {% endif %}
            </div>
            <div class="right">
                {% if nav.next %}
                <a href="{{ nav.next }}"><i class="fa fa-angle-right fa-fw fa-lg"></i></a>
                {% endif %}
                {% if nav.last %}
                <a href="{{ nav.last }}"><i class="fa fa-angle-double-right fa-fw fa-lg"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

<div class="wrapper-asociar vacio" hidden>
    <div class="partido-asociando text-center">
        <h6>Usted está a punto de asociarse al partido político</h6>
        <h4><b><span class="p-nombre"></span></b></h4>
    </div>
    <div class="pregunta text-center">
        ¿Confirma unirse al partido?
    </div>
    <div class="text-center">
        <form method="POST">
            <button class="button small success radius"><i class="fa fa-check fa-fw fa-lg"></i> Confirmar</button>
            <div class="bt-cancelar-asociar button small secondary radius"><i class="fa fa-undo fa-fw fa-lg"></i> Cancelar</div>

        </form>
    </div>
</div>

<div class="wrapper-dejar vacio" hidden>
    <div class="partido-asociando text-center">
        <h6>Usted ya es parte de este partido político</h6>
        <h4><b><span class="p-nombre"></span></b></h4>
        <h6>Confirmando la acción, usted estaría dejando de ser parte del mismo</h6>
    </div>
    <div class="pregunta text-center">
        ¿Confirma dejar el partido?
    </div>
    <div class="text-center">
        <form action="{{ urlFor('runUnirsePartido',{'idPar': 'idPar'}) }}" method="POST">
            <button class="button small alert radius"><i class="fa fa-check fa-fw fa-lg"></i> Dejar el partido</button>
            <div class="bt-cancelar-dejar button small secondary radius"><i class="fa fa-undo fa-fw fa-lg"></i> Cancelar</div>
        </form>
    </div>
</div>

<div id="tooltip-categoria-data" class="text-left" hidden>
    <i class="fa fa-lightbulb-o fa-fw fa-lg"></i>&nbsp;Elija una categoria, la cual
    <br> vea que su problematica se ajusta.
</div>
<div id="tooltip-titulo-data" class="text-left" hidden>
    <i class="fa fa-lightbulb-o fa-fw fa-lg"></i>&nbsp;El título debe ser claro, atractivo, para que la gente se vea interesada.
</div>


{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function(){

    });

    $(document).on('click', '.bt-cancelar-asociar', function() {
        $(".wrapper-botones").show();
        $(".wrapper-asociar.eliminar").slideUp();
        $(".wrapper-descripcion").slideDown();
        $(".wrapper-asociar.eliminar").remove();
    });
    $(document).on('click', '.bt-cancelar-dejar', function() {
        $(".wrapper-botones").show();
        $(".wrapper-dejar.eliminar").slideUp();
        $(".wrapper-descripcion").slideDown();
        $(".wrapper-dejar.eliminar").remove();
    });

    $( ".bt-asociarse" ).click(function() {
        $(".wrapper-botones").show();
        $(".wrapper-asociar.eliminar").slideUp();
        $(".wrapper-descripcion").slideDown();
        $(".wrapper-asociar.eliminar").remove();
        $( this ).parent().hide();
        var p_div = $( this ).closest(".panel-partido");
        var p_nombre = p_div.find(".p-nombre").html();
        var id = p_div.attr("id");
        id = id.slice(1);
        var a_div = $(".wrapper-asociar.vacio").clone();
        a_div.find(".p-nombre").html(p_nombre);
        var a_actionURL =  "{{ urlFor('runUnirsePartido',{'idPar': 'idPar'}) }}";
        a_actionURL = a_actionURL.replace('idPar',id);
        a_div.removeClass("vacio");
        a_div.addClass("eliminar");
        a_div.find("form").attr("action", a_actionURL);
        a_div.insertAfter($('#p'+id+'-descripcion'));
        $('#p'+id+'-descripcion').slideToggle();
        a_div.slideToggle();
    });

    $( ".bt-dejar" ).click(function() {
        $(".wrapper-botones").show();
        $(".wrapper-dejar.eliminar").slideUp();
        $(".wrapper-descripcion").slideDown();
        $(".wrapper-dejar.eliminar").remove();
        $( this ).parent().hide();
        var p_div = $( this ).closest(".panel-partido");
        var p_nombre = p_div.find(".p-nombre").html();
        var id = p_div.attr("id");
        id = id.slice(1);
        var d_div = $(".wrapper-dejar.vacio").clone();
        d_div.find(".p-nombre").html(p_nombre);
        var d_actionURL =  "{{ urlFor('runDejarPartido') }}";
        d_div.removeClass("vacio");
        d_div.addClass("eliminar");
        d_div.find("form").attr("action", d_actionURL);
        d_div.insertAfter($('#p'+id+'-descripcion'));
        $('#p'+id+'-descripcion').slideToggle();
        d_div.slideToggle();
    });

</script>
{% endblock %}
{# ----------------------------------------------------------- #}
