{# VARIBLES #}
{% set footer = true %}
{% set barraNav = false %}
{% set html_class = '' %}
{% set body_class = 'color-partido' %}

{% extends "master.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Virtuagora - Modificar un partido político{% endblock %}
{# ----------------------------------------------------------- #}
{% block linkhead %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block body %}
<div class="crear-partido">
    <div class="row">
        <div class="small-12 small-centered columns">
            <section class="intro-partido text-center">
                <i class="fa fa-flag fa-fw fa-2x"></i><br />MODIFICAR PARTIDO POLÍTICO<br />
                <a class="button oposite radius small" href="{{ urlFor('shwListaPartido') }}"><i class="fa fa-undo fa-fw fa-lg"></i>&nbsp;Volver atrás</a>
            </section>
        </div>
    </div>
    <form id="cambiar-imagen" action="{{ urlFor('runModifImgPartido', {'idPar': partido.id}) }}" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="small-12 small-centered columns">
                <div class="panel-crear-partido">
                    <div class="row">
                        <div class="small-6 columns">
                            <div class="row text-center show-img-partido">
                                <img src="{{baseUrl()}}/img/partido/{{ partido.id }}/160.png?x={{random()}}">
                                <img src="{{baseUrl()}}/img/partido/{{ partido.id }}/64.png?x={{random()}}">
                                <img src="{{baseUrl()}}/img/partido/{{ partido.id }}/32.png?x={{random()}}">
                            </div>
                        </div>
                        <div class="small-6 columns">
                            <div class="row text-center">
                                <div class="titulo-campo">
                                    <i class="fa fa-pencil fa-fw"></i> <b>Editar imagen del partido político</b>
                                </div>
                                <div class="fileUpload button large radius" style="margin-bottom:0;" onclick='$("#uploadBtn").click()'>
                                    <input id="uploadBtn" name="imagen" form="cambiar-imagen" type="file" onchange="this.form.submit();" class="upload" />
                                    <i class="fa fa-photo fa-fw fa-lg"></i> Cargar imagen
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <form action="{{ urlFor('runModifPartido',{'idPar': partido.id}) }}" method="POST">
        <div class="row">
            <div class="small-12 small-centered columns">
                <div class="panel-crear-partido">
                    <div class="row">
                        <div class="small-10 small-centered columns">
                            <section class="nombre-partido">
                                <textarea id="tooltip-titulo" type="text" name="nombre" id="tooltip-nombre" rows="1" placeholder="Escriba el nombre del partido"></textarea>
                            </section>
                            <section class="datos-partido text-center">
                                Añadido el {{ "now"|date("d/m/Y") }} por el funcionario <img src="{{ avatarUrl(user.img_tipo, user.img_hash, 32) }}"> {{ user.nombre }} {{ user.apellido }}
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row collapse prefix-radius">
                            <section class="acronimo-partido">
                                <div class="small-3 small-centered columns">
                                    <div class="small-6 columns">
                                        <span class="prefix"><b><i class="fa fa-caret-right fa-fw"></i>Acrónimo</b></span>
                                    </div>
                                    <div class="small-6 columns">
                                        <input name="acronimo" type="text" id="tooltip-acronimo" placeholder="2 a 8 caracteres">
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            <section class="descripcion-partido">
                                <div class="titulo-campo text-center"><b><i class="fa fa-pencil fa-fw"></i> Descripción del partido político <span class="asterisco">*</span></b></div>
                                <textarea name="descripcion" rows=3 placeholder="Escriba aquí la descripcion de su partido politico"></textarea>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 small-centered columns">
                            <div class="row collapse">
                                <div class="small-5 columns">
                                    <span class="prefix">
                                        &nbsp;<i class="fa fa-caret-right fa-fw"></i>&nbsp;<b>Fecha de fundación</b>
                                    </span>
                                </div>
                                <div class="small-7 columns">
                                    <input type="date" name="fecha">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 small-centered columns">
                            <div class="row collapse">
                                <div class="small-5 columns">
                                    <span class="prefix">
                                        &nbsp;<i class="fa fa-caret-right fa-fw"></i>&nbsp;<b>Fundador histórico</b>
                                    </span>
                                </div>
                                <div class="small-7 end columns">
                                    <input type="text" name="fundador" placeholder="Ingrese Nombre y Apellido">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-6 small-centered columns">
                            <div class="row collapse clearfix">
                                <div class="small-5 columns">
                                    <span class="prefix">
                                        &nbsp;<i class="fa fa-caret-right fa-fw"></i>&nbsp;<b>Página web</b>
                                    </span>
                                </div>
                                <div class="small-7 end columns">
                                    <input type="url" name="text" placeholder="Ej: www.partido-politico.com">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 small-centered columns">
                            <div class="row collapse clearfix">
                                <div class="small-5 columns">
                                    <span class="prefix">
                                        &nbsp;<i class="fa fa-caret-right fa-fw"></i>&nbsp;<b>Email de contacto</b>
                                    </span>
                                </div>
                                <div class="small-7 end columns">
                                    <input type="text" name="email" placeholder="Ej: ejemplo@servidor.com">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 small-centered columns">
                            <div class="row collapse clearfix">
                                <div class="small-5 columns">
                                    <span class="prefix">
                                        &nbsp;<i class="fa fa-caret-right fa-fw"></i>&nbsp;<b>Teléfono de contacto</b>
                                    </span>
                                </div>
                                <div class="small-7 end columns">
                                    <input type="text" name="telefono" placeholder="(0342) 452-XXXX">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-8 small-centered columns">
                <section class="publicar-partido">
                    <button type="submit" class="button oposite large expand radius"><i class="fa fa-check fa-fw fa-lg"></i>&nbsp;Aplicar los cambios</button>
                </section>
            </div>
        </div>
    </form>
</div>

<div id="tooltip-categoria-data" class="text-left" hidden>
    <i class="fa fa-lightbulb-o fa-fw fa-lg"></i>&nbsp;Elija una categoria, la cual
    <br> vea que su problematica se ajusta.
</div>
<div id="tooltip-titulo-data" class="text-left" hidden>
    <i class="fa fa-lightbulb-o fa-fw fa-lg"></i>&nbsp;El título debe ser claro, atractivo, para que la gente se vea interesada.
</div>


{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts %}
<script src="{{ baseUrl() }}/assets/js/autosize/autosize.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('textarea[name="nombre"]').val('{{ partido.nombre }}');
        $('input[name="acronimo"]').val('{{ partido.acronimo }}');
        $('textarea[name="descripcion"]').val('{{ partido.descripcion }}');
        $('[name="fecha"]').attr('value',('{{ partido.fecha_fundacion }}').substring(0,10));
        $('[name="fundador"]').val('{{ partido.fundador }}');
        $('[name="url"]').val('{{ partido.contacto.web }}');
        $('[name="email"]').val('{{ partido.contacto.email }}');
        $('[name="telefono"]').val('{{ partido.contacto.telefono }}');
        autosize($("textarea[name='nombre']"));
        autosize($("textarea[name='descripcion']"));
    });
    $("textarea[name='nombre']").keypress(function(event) {
        // Check the keyCode and if the user pressed Enter (code = 13)
        // disable it
        if (event.keyCode == 13) {
            event.preventDefault();
        }
    });
    $('#tooltip-categoria').data('powertiptarget', 'tooltip-categoria-data');
    $('#tooltip-categoria').powerTip({
        placement: 'e',
        mouseOnToPopup: true
    });
    $('#tooltip-titulo').data('powertiptarget', 'tooltip-titulo-data');
    $('#tooltip-titulo').powerTip({
        placement: 'n',
        mouseOnToPopup: true
    });
</script>
{% endblock %}
{# ----------------------------------------------------------- #}
