
{# VARIBLES #}

{% set opcion_activa = 1 %}
{% extends "usuario/gestion.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Modificar datos{% endblock %}
{# ----------------------------------------------------------- #}
{% block gestion %}
<h4>Datos personales</h4>
<h6 class="subheader">Modificar datos personales</h6>
<div class="descripcion">
	Aqui podra editar sus datos personales.
</div>
<hr>
<form id="cambiar-imagen" action="{{ urlFor('runModifImgUsuario', {'idUsu': usuario.id}) }}" method="POST" enctype="multipart/form-data">
	<div class="row collapse">
		<div class="medium-6 columns small-only-text-center">
			<h6 class="subheader">Cargar imagen de perfil</h6>
			<div class="fileUpload button tiny radius">
				<span><i class="fa fa-upload fa-fw fa-lg"></i> Subir imagen</span>
				<input id="bt-upload" type="file" name="imagen" class="upload" />
			</div>
		</div>
		<div class="medium-6 columns text-center">
			<img id="img-perfil" src="{{ avatarUrl(user.img_tipo, user.img_hash, 160) }}" alt="Aux img" class="img-perfil size-160">
			<div id="cargando" class="descripcion" style="display:none"><i class="fa fa-refresh fa-spin fa-fw fa-5x"></i></div>
		</div>
	</div>
</form>
<hr>
<form action="{{ urlFor('runModifUsuario') }}" method="POST">
	<div class="row collapse">
		<div class="medium-6 columns">
			<h6 class="subheader">Nombre(s)</h6>
		</div>
		<div class="medium-6 columns"><input type="text" name="nombre"></div>
	</div>
	<hr>
	<div class="row collapse">
		<div class="medium-6 columns">
			<h6 class="subheader">Apellido</h6>
		</div>
		<div class="medium-6 columns"><input type="text" name="apellido"></div>
	</div>
	<hr>
	<div class="row collapse">
		<div class="medium-6 columns">
			<h6 class="subheader">URL</h6>
		</div>
		<div class="medium-6 columns"><input type="text" name="url" placeholder="Ej: http://www.google.com"></div>
	</div>
	<hr>
	<div class="row collapse">
		<div class="medium-6 columns">
			<h6 class="subheader">Email</h6>
		</div>
		<div class="medium-6 columns"><input type="email" name="email" disabled></div>
	</div>
	<hr>
	<div class="row collapse">
		<div class="medium-6 columns">
			<h6 class="subheader">Telefono</h6>
		</div>
		<div class="medium-6 columns"><input type="text" name="telefono"></div>
	</div>
	<hr>
	<div class="small-text-center large-text-right">
		<button class="button success radius"><i class="fa fa-check fa-fw fa-lg"></i> Aceptar cambios</button>
	</div>
</form>
{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts_gestion %}
<script>
	$( "#bt-upload" ).change(function() {
		$('#img-perfil').hide();
		$('#cargando').show();
		$('#cambiar-imagen').submit();
	});
    $(document).ready(function(){
        $('input[name="nombre"]').val('{{ usuario.nombre }}');
        $('input[name="apellido"]').val('{{ usuario.apellido }}');
        $('input[name="url"]').val('{{ usuario.url }}');
        $('input[name="email"]').val('{{ usuario.email }}');
        $('input[name="telefono"]').val('{{ usuario.telefono }}');
    });
</script>
{% endblock %}
{# ----------------------------------------------------------- #}
