{# VARIBLES #}

{% set opcion_activa = 0 %}
{% extends "usuario/gestion.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Ver notificaciones{% endblock %}
{# ----------------------------------------------------------- #}
{% block gestion %}
<h4>Notificaciones</h4>
<h6 class="subheader">Listado de todas las notificaciones</h6>
<div class="descripcion">
	La siguiente tabla contiene la lista de todas sus notificaciones.
</div>
<hr>
<table class="tabla-notificaciones">
	<thead>
		<th colspan="2">Todas las notificaciones</th>
	</thead>
	<tbody>
		{% if notificaciones|length > 0 %}
		{% for notificacion in notificaciones %}
		<tr class="notif-msj">
			<td>{{ notificacion.updated_at|date("d/m/Y H:m") }}</td>
			<td>{{ notificacion.mensaje|raw }}</td>
		</tr>
		{% endfor %}
		{% else %}
		<tr class="sin-notificaciones">
			<td class="text-center"><i class="fa fa-check fa-fw"></i><br>No hay notificaciones!</td>
		</tr>
		{% endif %}
	</tbody>
</table>
{% if nav %}
<div class="row collapse">
	<div class="small-12 medium-8 small-centered columns">
		<div class="panel paginacion clearfix">
			<div class="small-6 columns text-left">
				{% if nav.first %}
				<a id="nav-first" href="{{ nav.first }}"><i class="fa fa-fast-backward fa-fw fa-lg"></i></a>
				{% endif %}
				&nbsp;&nbsp;
				{% if nav.prev %}
				<a id="nav-prev" href="{{ nav.prev }}"><i class="fa fa-chevron-left fa-fw fa-lg"></i> Anterior</a>
				{% endif %}
			</div>
			<div class="small-6 columns text-right">
				{% if nav.next %}
				<a id="nav-next" href="{{ nav.next }}">Proximo <i class="fa fa-chevron-right fa-fw fa-lg"></i></a>
				{% endif %}
				&nbsp;&nbsp;
				{% if nav.last %}
				<a id="nav-last" href="{{ nav.last }}"><i class="fa fa-fast-forward fa-fw fa-lg"></i></a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endif %}

{% endblock gestion %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts_gestion %}
{% endblock %}
{# ----------------------------------------------------------- #}
