{# VARIBLES #}
{% set footer = true %}
{% set barraNav = true %}
{% set notificaciones = true %}
{% set html_class = '' %}
{% set body_class = 'portal-bg' %}

{% set icono_problematica = '<i class="flaticon flaticon-man282"></i>' %}
{% set icono_propuesta = '<i class="flaticon flaticon-inspiration"></i>' %}
{% set icono_documento = '<i class="flaticon flaticon-contract11"></i>' %}
{% set icono_evento = '<i class="flaticon flaticon-month1"></i>' %}
{% set icono_novedad = '<i class="flaticon flaticon-news29"></i>' %}

{% extends "master.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Bienvenido - Virtuágora{% endblock %}
{# ----------------------------------------------------------- #}
{% block linkhead %}
<link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/assets/css/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/assets/css/slick/slick-theme.css"/>
{% endblock %}
{# ----------------------------------------------------------- #}
{% block body %}
<div class="portal-usuario-aux">
    <div class="welcome row">
        <div class="wrapper-texto">
            {% if user %}
            <a href="{{ urlFor('shwUsuario',{'idUsr': user.id}) }}"><img class="img-perfil small-border square size-64 {% if usuario.moderador %}moderador{% else %}{% if usuario.es_jefe %}jefe{% else %}{% if usuario.es_funcionario %}funcionario{% else %}{% if usuario.verified_at %}verificado{% endif %}{% endif %}{% endif %}{% endif %}" src="{{ avatarUrl(user.img_tipo, user.img_hash, 64) }}" alt="User avatar"></a>
            <h2><b>Bienvenido, {{ user.nombre }}</b></h2>
            <p class="portal-con-notificaciones" style="display:none"><i class="fa fa-exclamation-circle fa-fw fa-lg"></i>Usted tiene <span class="cant-notificaciones"></span> nuevas notificaciones</p>
            <p class="portal-sin-notificaciones" style="display:none">Sin nuevas notificaciones&nbsp;&nbsp;&nbsp;<small>Bien!</small></p>
            {% else %}
            <img img class="img-perfil small-border square size-64" src="{{ baseUrl() }}/assets/img/anon64.jpg" alt="User avatar">
            <h2><b>Bienvenido a Virtuágora</b></h2>
            <p>Si desea participar, considere <a href="{{ urlFor('shwCrearUsuario') }}">registrarse</a> en nuestra plataforma</p>
            {% endif %}
        </div>
    </div>


    <div class="menu row collapse">
        <a href="{{ urlFor('shwListaOrganis') }}"><div class="bt-menu organismos medium-6 columns text-center"><i class="fa fa-university fa-fw"></i> Ver lista de organismos</div></a>
        <a href="{{ urlFor('shwListaPartido') }}"><div class="bt-menu partidos medium-6 columns text-center"><i class="fa fa-flag fa-fw"></i> Ver otros partidos politicos</div></a>
    </div>
    <div class="nav-contenidos row collapse">
        <div class="contenidos small-12 columns text-center"><h3><i class="fa fa-book fa-fw"></i> Contenidos</h3></div>
    </div>
    <div class="nav-contenidos row collapse">
        <div class="contenido medium-6 large-4 columns text-center color-propuesta">
            <ul class="list">
                <li><i class="flaticon flaticon-inspiration fa-lg"></i></li>
                <li>Propuestas</li>
                <li><a href="javascript:toggle('propuesta');"><i id="check_propues" class="check-on fa fa-check-square fa-fw fa-lg"></i></a> Ver</li>
                {% if user and (user.es_funcionario == true) %}
                <li><a href="{{ urlFor('shwCrearPropues') }}" class="button tiny radius oposite"><i class="fa fa-plus fa-fw"></i> Crear</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="contenido medium-6 large-4 columns text-center color-problematica">
            <ul class="list">
                <li><i class="flaticon flaticon-man282 fa-lg"></i></li>
                <li>Problemática</li>
                <li><a href="javascript:toggle('problematica');"><i id="check_problem" class="check-on fa fa-check-square fa-fw fa-lg"></i></a> Ver</li>
                {% if user %}
                <li><a href="{{ urlFor('shwCrearProblem') }}" class="button tiny radius oposite"><i class="fa fa-plus fa-fw"></i> Crear</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="contenido medium-6 large-4 columns text-center color-documento">
            <ul class="list">
                <li><i class="flaticon flaticon-contract11 fa-lg"></i></li>
                <li>Documentos</li>
                <li><a href="javascript:toggle('documento');"><i id="check_documen" class="check-on fa fa-check-square fa-fw fa-lg"></i></a> Ver</li>
                {% if user and (user.es_funcionario == true) %}
                <li><a href="{{ urlFor('shwCrearDocumen') }}" class="button tiny radius oposite"><i class="fa fa-plus fa-fw"></i> Crear</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="contenido medium-6 {{ user.partido_id ? 'large-4' : 'large-6' }} columns text-center color-evento">
            <ul class="list">
                <li><i class="flaticon flaticon-month1 fa-lg"></i></li>
                <li>Eventos</li>
                <li><a href="javascript:toggle('evento');"><i id="check_evento" class="check-on fa fa-check-square fa-fw fa-lg"></i></a> Ver</li>
                {% if user and (user.es_funcionario == true) %}
                <li><a href="{{ urlFor('shwCrearEvento') }}" class="button tiny radius oposite"><i class="fa fa-plus fa-fw"></i> Crear</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="contenido {{ user.partido_id ? 'medium-6 large-4' : 'medium-12 large-6' }} columns text-center color-novedad">
            <ul class="list">
                <li><i class="flaticon flaticon-news29 fa-lg"></i></li>
                <li>Novedades</li>
                <li><a href="javascript:toggle('novedad');"><i id="check_novedad" class="check-on fa fa-check-square fa-fw fa-lg"></i></a> Ver</li>
                {% if user and (user.es_funcionario == true) %}
                <li><a href="#" class="button tiny radius oposite"><i class="fa fa-plus fa-fw"></i> Crear</a></li>
                {% endif %}
            </ul>
        </div>
        {% if user and (user.partido_id != null) %}
        <div class="contenido medium-6 large-4 columns text-center color-partido">
            <ul class="list">
                <li><i class="fa fa-flag fa-fw fa-lg"></i></li>
                <li>De mi Partido</li>
                <li><a href="javascript:togglePartido({{ user.partido_id }});"><i id="filtrar_partido" class="check-off fa fa-square-o fa-fw fa-lg"></i></a> Filtrar</li>
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="nav-contenidos row collapse">
        <div class="contenidos-end small-12 columns text-center">

            <a href="javascript:void(0)" class="button oposite radius small"><i class="fa fa-list-ul fa-fw fa-lg"></i> Ver en formato listado</a> <a href="javascript:void(0)" class="button oposite radius small"><i class="fa fa-th-large fa-fw fa-lg"></i> Ver en formato bloques</a>
        </div>
    </div>
    <div class="row collapse">
        <div class="large-12 columns" style="padding: 0; margin: 0 auto;">
            <div id="masonryContainer">

            </div>
        </div>
        <div class="cargar-mas large-12 columns text-center" style="display:none;padding: 20px 0; margin: 0 auto; ">
            <a href="javascript:buscarMasContenido()" class="button negative radius"><i class="fa fa-plus-circle fa-fw fa-3x"></i></a>
            <p><b>Cargar mas contenido</b></p>
        </div>
        <div class="fin-contenidos large-12 columns text-center" style="display:none;padding: 20px 0; margin: 0 auto; ">
            <i class="fa fa-chain-broken fa-fw fa-2x"></i>
            <p><b>Fin de los contenidos</b></p>
        </div>
        <div class="ejecutando large-12 columns text-center" style="display:none;padding: 20px 0; margin: 0 auto;">
            <i class="fa fa-spinner fa-fw fa-pulse fa-5x"></i>
            <p><i>Cargando</i></p>
        </div>
        <div class="vacio large-12 columns text-center" style="display:none;padding: 20px 0; margin: 0 auto; ">
            <i class="fa fa-chain-broken fa-fw fa-5x"></i>
            <p><b>No existen contenidos</b></p>
        </div>
        <div class="error large-12 columns text-center" style="display:none;padding: 20px 0; margin: 0 auto; ">
            <i class="fa fa-exclamation-circle fa-fw fa-5x"></i>
            <p><b>ERROR EN LA BUSQUEDA DE CONTENIDOS</b></p>
        </div>
    </div>
</div>
{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts %}
<script src="{{ baseUrl() }}/assets/js/masonry/masonry.pkgd.min.js"></script>
<script id="brick-vacio" type = "text/template">
    <a href="##ContenidoLink##">
        <div class="masonry-brick color-##ContenidoTipo##">
            <div class="datos user text-center">
                <ul class="list">
                    <li><img class="img-perfil" src="{{ urlFor('shwImgUsuario',{'idUsr':'##IDUsuario##','res':'32'}) }}"></li>
                    <li>##AutorNombre## ##AutorApellido##</li>
                    <li><i class="fa fa-trophy fa-fw"></i> ##AutorPuntos##</li>
    </ul>
    </div>
            <div class="titulo text-center">
                <h3>##ContenidoTitulo##</h3>
                <ul class="list">
                    <li><span class="icono">##ContenidoIcono##</span></li>
                    <li>##ContenidoTipo2##</li>
                    <li><i class="fa fa-line-chart fa-fw"></i> ##ContenidoPuntos##</li>
    </ul>
    </div>
    </div>
    </a>
</script>
{% set icono_problematica = '<i class="flaticon flaticon-man282"></i>' %}
{% set icono_propuesta = '<i class="flaticon flaticon-inspiration"></i>' %}
{% set icono_documento = '<i class="flaticon flaticon-contract11"></i>' %}
{% set icono_evento = '<i class="flaticon flaticon-month1"></i>' %}
{% set icono_novedad = '<i class="flaticon flaticon-news29"></i>' %}

<script>
    var base_url = '{{ baseUrl() }}';
    var icono_problematica = '<i class="flaticon flaticon-man282"></i>';
    var icono_propuesta = '<i class="flaticon flaticon-inspiration"></i>';
    var icono_documento = '<i class="flaticon flaticon-contract11"></i>';
    var icono_evento = '<i class="flaticon flaticon-month1"></i>';
    var icono_novedad = '<i class="flaticon flaticon-news29"></i>';

    var check_propues = true;
    var check_problem = true;
    var check_documen = true;
    var check_evento = true;
    var check_novedad = true;
    var filtrar_partido = false;
    var id_partido = 0;

    var link_next = '';

    $(document).ready(function(){
        buscar();
    });

    function toggle(elemento){
        switch(elemento) {
            case 'propuesta':
                check_propues = check_propues ? false : true;
                if($('#check_propues').hasClass('check-on')){
                    $('#check_propues').removeClass('check-on').removeClass('fa-check-square').addClass('check-off').addClass('fa-square-o');
                }
                else{
                    $('#check_propues').removeClass('check-off').remove('fa-square-o').addClass('check-on').addClass('fa-check-square');
                };
                break;
            case 'problematica':
                check_problem = check_problem ? false : true;
                console.log($('#check_problem').hasClass('check-on'));
                if($('#check_problem').hasClass('check-on')){
                    $('#check_problem').removeClass('check-on').removeClass('fa-check-square').addClass('check-off').addClass('fa-square-o');
                }
                else{
                    $('#check_problem').removeClass('check-off').remove('fa-square-o').addClass('check-on').addClass('fa-check-square');
                };
                break;
            case 'documento':
                check_documen = check_documen ? false : true;
                if($('#check_documen').hasClass('check-on')){
                    $('#check_documen').removeClass('check-on').removeClass('fa-check-square').addClass('check-off').addClass('fa-square-o');
                }
                else{
                    $('#check_documen').removeClass('check-off').remove('fa-square-o').addClass('check-on').addClass('fa-check-square');
                };
                break;
            case 'evento':
                check_evento = check_evento ? false : true;
                if($('#check_evento').hasClass('check-on')){
                    $('#check_evento').removeClass('check-on').removeClass('fa-check-square').addClass('check-off').addClass('fa-square-o');
                }
                else{
                    $('#check_evento').removeClass('check-off').remove('fa-square-o').addClass('check-on').addClass('fa-check-square');
                };
                break;
            case 'novedad':
                check_novedad = check_novedad ? false : true;
                if($('#check_novedad').hasClass('check-on')){
                    $('#check_novedad').removeClass('check-on').removeClass('fa-check-square').addClass('check-off').addClass('fa-square-o');
                }
                else{
                    $('#check_novedad').removeClass('check-off').remove('fa-square-o').addClass('check-on').addClass('fa-check-square');
                };
                break;
            default:
        }
        construirQuery();
    }
    function togglePartido(id){
        filtrar_partido = filtrar_partido ? false : true;
        if($('#filtrar_partido').hasClass('check-on')){
            $('#filtrar_partido').removeClass('check-on').removeClass('fa-check-square').addClass('check-off').addClass('fa-square-o');
        }
        else{
            $('#filtrar_partido').removeClass('check-off').remove('fa-square-o').addClass('check-on').addClass('fa-check-square');
        };
        id_partido = id;
        construirQuery();
    }

    function construirQuery(){
        var where_value = new Array();
        if(check_propues == false){
            where_value.push('contenible_type-ne-Propuesta')
        }
        if(check_problem == false){
            where_value.push('contenible_type-ne-Problematica')
        }
        if(check_documen == false){
            where_value.push('contenible_type-ne-Documento')
        }
        if(check_evento == false){
            where_value.push('contenible_type-ne-Evento')
        }
        if(check_novedad == false){
            where_value.push('contenible_type-ne-Novedad')
        }
        if(filtrar_partido == true){
            where_value.push('impulsor_id-eq-'+id_partido);
        }
        var query = [{name:'sort', value:'-created_at'},
                     {name:'take', value:'2'}];
        if(where_value.length > 0){
            query.push({name:'where', value: where_value.join()})
        }
        $("#masonryContainer").empty();
        $('#masonryContainer').masonry( 'reloadItems' );
        $('#masonryContainer').masonry( 'layout' );
        enviarSolicitud(base_url + '/contenido?' + jQuery.param(query) );
    }

    function crearBrick(contenido){
        var $brick = $('#brick-vacio').html();
        $brick = $brick.replace("##ContenidoLink##", contenido.link)
            .replace("##ContenidoTipo##", contenido.contenible_type.toLowerCase())
            .replace("##IDUsuario##", contenido.autor.id)
            .replace("##AutorNombre##", contenido.autor.nombre)
            .replace("##AutorApellido##", contenido.autor.apellido)
            .replace("##AutorPuntos##", contenido.autor.puntos)
            .replace("##ContenidoTitulo##", contenido.titulo)
            .replace("##ContenidoTipo2##", contenido.contenible_type)
            .replace("##ContenidoPuntos##", contenido.puntos)
        switch(contenido.contenible_type.toLowerCase()) {
            case 'problematica':
                $brick = $brick.replace("##ContenidoIcono##",icono_problematica);
                break;
            case 'propuesta':
                $brick = $brick.replace("##ContenidoIcono##",icono_propuesta);
                break;
            case 'documento':
                $brick = $brick.replace("##ContenidoIcono##",icono_documento);
                break;
            case 'evento':
                $brick = $brick.replace("##ContenidoIcono##",icono_evento);
                break;
            case 'novedad':
                $brick = $brick.replace("##ContenidoIcono##",icono_novedad);
                break;
            default:
        }
        $("#masonryContainer").append($brick);
    }

    function buscar() {
        var query = [{name:'sort', value:'-created_at'},{name:'take', value:'2'}];
        enviarSolicitud(base_url + '/contenido?' + jQuery.param(query) );
    }
    function revisarMas() {
        console.log(link_next);
        if( link_next != undefined ){
            $('.cargar-mas').show();
        } else {
            $('.fin-contenidos').show();
        }
    }
    function buscarMasContenido() {
        $('.cargar-mas').hide();
        enviarSolicitud( link_next );
    }

    function startGetRequest(event) {
        enviarSolicitud(event.data.url);
    }

    function enviarSolicitud(url_query) {
        $('.ejecutando').show();
        $('.cargar-mas').hide();
        $('.vacio').hide();
        $('.fin-contenidos').hide();
        $('.error').hide();
        var request = $.ajax({
            url: url_query,
            pageSize: 10,
            cache: false,
            dataType: "json"
        }).done(function(resultados, textStatus, request) {
            link_next = parseLinkHeader(request.getResponseHeader('link'))['next'];
            $('.ejecutando').hide();
            if(resultados.length > 0){
                for (i = 0; i < resultados.length; i++) {
                    crearBrick(resultados[i]);
                }
                $('#masonryContainer').masonry( 'reloadItems' );
                $('#masonryContainer').masonry( 'layout' );
                revisarMas();
            } else {
                $('.ejecutando').hide();
                $('.vacio').show();
            }

        }).fail(function(jqXHR, textStatus) {
            $('.ejecutando').hide();
            $('.error').show();
        });
    }


    $(window).load(function(){
        msnry = $('#masonryContainer').masonry({
            itemSelector: '.masonry-brick',
            isFitWidth: true,
        });
    });


</script>
{% endblock %}
{# ----------------------------------------------------------- #}
