{# VARIBLES #}

{% extends "contenido/ver-contenido-corto.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Virtuagora - Novedad #{{ novedad.id }} {% endblock %}
{# ----------------------------------------------------------- #}
{% set color_cont = 'color-novedad' %}
{% block linkheads_cont %}
{% endblock linkheads_cont %}
{# ----------------------------------------------------------- #}
{% set titulo_cont = novedad.titulo %}
{% set fecha_cont = '' ~ novedad.created_at|date("d/m/Y") %}
{% set ver_comentarios = true %}
{% set url_comentar = urlFor('runComentar', {'tipoRaiz': 'novedad' , 'idRaiz': novedad.id}) %}
{% set url_modificar = urlFor('shwModifNovedad', {'idNov': novedad.id } ) %}
{% set url_eliminar = urlFor('runElimiNovedad', {'idNov': novedad.id } ) %}
{# ----------------------------------------------------------- #}
{% set share_link = novedad.link %}
{% set twitter_txt = 'Me interesó esta ' ~ novedad.contenible_type  %}
{% set email_subject = 'Queria compartir esta ' ~ novedad.contenible_type ~ ' con vos' %}
{% set email_body = 'Me parecio interesante compartir con vos esta ' ~ novedad.contenible_type ~ '&crarr;' ~ novedad.link %}
{# ----------------------------------------------------------- #}
{% block botones_cont %}{% endblock %}
{% block cuerpo_cont %}
<div class="novedad-texto">
    <div class="text-center">
        <section class="datos-cont corto">
            Publicado el {{ fecha_cont }}  <a href="{{ urlFor('shwUsuario',{'idUsu: autor_id}) }}"><img class="img-perfil small-border radius size-32" src="{{ autor_avatar_32 }}"> por {{ autor_nombre_apellido }}</a> <span class="usuario-pts"><i class="fa fa-trophy fa-fw"></i>&nbsp;{{ autor_puntos }}</span>
        </section>
    </div>
    {{ novedad.cuerpo|bbCode }}
</div>
{% endblock %}
{# ----------------------------------------------------------- #}
{% set autor_id = novedad.autor.id %}
{% set autor_nombre_apellido = novedad.autor.nombre ~ ' ' ~ novedad.autor.apellido %}
{% set autor_avatar_32 = avatarUrl(novedad.autor.img_tipo, documento.autor.img_hash, 32) %}
{# ----------------------------------------------------------- #}
{% block opciones_cont %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals_cont %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts_cont %}
<script>
    $(document).ready(function(){

    });
</script>
{% endblock %}
{# ----------------------------------------------------------- #}
